<div class="main-container" [ngClass]='{"main-page": isHome}'>
  <ln-header></ln-header>
  <main class="content" [ngClass]='{"container": !isHome}'>
    <router-outlet></router-outlet>
    <ng-container *ngIf='routePath !== "/catalog"'>
      <section class="section new-products check-visibility" *ngIf='newProducts$ | async as newProducts'>
        <div [ngClass]='{"container": isHome}'>
          <h3 class="title-2">{{'Новинки' | getMessage}}</h3>
          <div class="new-products-slider">
            <owl-carousel [options]="newProductsOption" [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div *ngFor='let newProduct of newProducts' class="item"
                [style.backgroundImage]="'url(' + newProduct.main_img + ')'">
                <div class="new-product-details">
                  <a [routerLink]='["/product", newProduct.slug]' class="npd-title">{{newProduct.title}}</a>
                  <div class="npd-price">{{newProduct.price | number:0}} UZS</div>
                  <a [routerLink]='["/product", newProduct.slug]' class="btn btn-danger fractured">
                    <span [innerHtml]='"Купить" | getMessage | splitString'></span>
                  </a>
                </div>
              </div>
            </owl-carousel>
          </div>
        </div>
      </section>
    </ng-container>

    <ng-container *ngIf='isHome'>
      <section class="section check-visibility reviews" *ngIf='reviews$ | async as reviews'>
        <div class="container">
          <h3 class="title-2"><span>{{'ОТзывы' | getMessage}}</span></h3>
          <owl-carousel [options]="reviewsCarouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor='let review of reviews'>
              <div class="review-details">
                <div class="rd-username">{{review.title}}</div>
                <div class="rd-desc">{{review.description}}</div>
              </div>
              <div class="overflowed" [innerHtml]='review.content'></div>
            </div>
          </owl-carousel>
        </div>
      </section>
      <section class="section popular check-visibility" *ngIf='popularProducts$ | async as popularProducts'>
        <div class="container">
          <h3 class="title-2">{{'Популярные' | getMessage}}</h3>
          <div class="pp-slider">
            <owl-carousel [options]="popularProductsCarouselOptions"
              [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div class="item" *ngFor='let popularProduct of popularProducts'>
                <a [routerLink]='["/product", popularProduct.slug]'><img [src]="popularProduct.largeImg" /></a>
              </div>
            </owl-carousel>
          </div>
        </div>
      </section>
    </ng-container>
  </main>
</div>
<ln-footer></ln-footer>
