// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../assets/css/variables';
@import '../../assets/css/functions';
@import '../../assets/css/hover-effects';
@import '../../assets/css/animations';

.header-images {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 0;
  height: 100px;

  &.visible {
    .header-img {
      @include transform(scale(1));
      @include opacity(1);
    }
  }

}


.header-img {
  @include transition(transform 0.4s ease-out, opacity 0.3s ease-in);
  position: absolute;
  @include transform(scale(0.3));
  @include opacity(0);

  i {
    @include transform(rotate(-45deg));
    display: block;
    @include box-shadow(-12px 12px 15px rgba(0, 0, 0, .1));

    background: {
      repeat: no-repeat;
      position: center;
      size: cover;
    }
  }

  &.header-img-1 {
    top: -55px;
    right: 600px;
    @include transition-delay(.3s);

    i {
      width: 230px;
      height: 230px;
    }
  }

  &.header-img-2 {
    top: 165px;
    right: 427px;
    @include transition-delay(.5s);

    i {
      width: 202px;
      height: 202px;
    }
  }

  &.header-img-3 {
    top: -270px;
    right: -50px;
    @include transition-delay(.1s);

    i {
      width: 525px;
      height: 525px;
    }
  }
}

.hi-line {
  position: absolute;
  width: 1px;
  z-index: 0;
}

.hi-left-line {
  background: rgba($color: #535353, $alpha: .1);
  @include transform(rotate(-45deg));
  right: 817px;
  top: -70px;
  height: 475px;
}

.hi-right-line {
  background: rgba($color: #161616, $alpha: .1);
  @include transform(rotate(45deg));
  right: 80px;
  height: 240px;
  top: 175px;
}

.hi-right-bottom-line {
  background: rgba($color: #ffb575, $alpha: .9);
  @include transform(rotate(45deg));
  right: 110px;
  height: 330px;
  top: 205px;
}

.inner-page {
  padding-top: 55px;
  padding-bottom: 100px;
}

@media (max-width: 1599px) {
  .inner-page {
    padding-top: 40px;
  }

  .header-images {
    @include transform(scale(0.9));
    right: -76px;
    top: -5px;
  }
}


@media (max-width: 1439px) {
  .inner-page {
    padding-top: 30px;
  }

  .header-images {
    @include transform(scale(0.8));
    right: -135px;
    top: -11px;
  }
}
