<ln-preloader *ngIf='!isLoaded'></ln-preloader>
<ng-container *ngIf='isLoaded'>
  <h1 class="title-1">{{post.title}}</h1>
  <div class="post-content" [innerHtml]='post.content | safeHtml'></div>
</ng-container>
