<ul>
  <ng-container *ngFor="let item of menu; let i = index">
    <li routerLinkActive="active">
      <a [routerLink]="item['url'][0] | menuLink" class="fractured"><span
          [innerHtml]='item.label | splitString'></span></a>
      <ln-menu *ngIf="item['items']?.length &gt; 0" [menu]="item['items']"></ln-menu>
    </li>

  </ng-container>
</ul>
