<div class="main-slider">
  <owl-carousel [options]="slidesCarouselOptions" class="ms-items" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="ms-item" *ngFor='let slide of slides' [style.backgroundImage]="'url(' + slides[0].url + ')'">

    </div>
  </owl-carousel>
  <!-- <div class="ms-pagination-cont">
    <ul class="ms-pagination">
      <li class="circled-border" [ngClass]='{"active": i===0}' *ngFor='let slide of slides; let i = index'
        [attr.data-image]="slide.url">
        {{i + 1}}
      </li>
    </ul>
    <button class="ms-next"><span></span></button>
  </div> -->
</div>
