/*
  Nunito-SemiBold
  Nunito-Bold
  Nunito-Light
  Nunito-ExtraBold
  Nunito-Black
  Nunito-Regular

  Poppins-Light
  Poppins-Bold
  Poppins-Regular
  Poppins-SemiBold
  Poppins-Medium
  Poppins-Black
  Poppins-ExtraBold
  Poppins-Thin
*/
@import '~compass-mixins/lib/compass/css3';
@import 'variables';
@import 'functions';

.js .loading::before,
.js .loading::after {
	content: '';
	position: absolute;
	z-index: 1000;
}

.loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}

.loading::after {
	top: 10%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: 0 0 0 -20px;
	border: 8px solid $color-2;
	border-bottom-color: $color-1;
	border-radius: 50%;
	animation: animLoader 0.8s linear infinite forwards;
}

@keyframes animLoader {
	to { transform: rotate(360deg); }
}

/* Grid */

.gridEffect {
	position: relative;
	z-index: 2;
	display: block;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}

.grid--hidden {
	position: fixed !important;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	opacity: 0;
}

.js .grid--loading::before,
.js .grid--loading::after {
	content: '';
	z-index: 1000;
}

.js .grid--loading::before {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #2c2d31;
}

.js .grid--loading::after {
	position: absolute;
	top: calc(25vh - 20px);
	left: 50%;
	width: 40px;
	height: 40px;
	margin: 0 0 0 -20px;
	border: 8px solid #383a41;
	border-bottom-color: #565963;
	border-radius: 50%;
	animation: animLoader 0.8s linear forwards infinite;
}

.grid__sizer {
	margin-bottom: 0 !important;
}

.grid__link,
.grid__img {
	display: block;
}

.grid__img {
	width: 100%;
}

.grid__deco {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.grid__deco path {
	fill: none;
	stroke: $color-1;
	stroke-width: 2px;
}

.grid__reveal {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	background-color: $color-1;
}

.gridEffect .grid__item,
.gridEffect .grid__sizer {
	position: relative;
}

.grid__item {
	@include opacity(0);
	@include transition(opacity 0.3s);
}
.visible {
	.grid__item {
		@include opacity(1);
	}
}

