/*
  Nunito-SemiBold
  Nunito-Bold
  Nunito-Light
  Nunito-ExtraBold
  Nunito-Black
  Nunito-Regular

  Poppins-Light
  Poppins-Bold
  Poppins-Regular
  Poppins-SemiBold
  Poppins-Medium
  Poppins-Black
  Poppins-ExtraBold
  Poppins-Thin
*/
@import '~compass-mixins/lib/compass/css3';
@import 'animations';
@import 'variables';
@import 'functions';

.hover-line-through.active-link {
  position: relative
}

.hover-line-through.active-link:before,
.hover-line-through.active-link:after {
  content: '';
  width: 110%;
  left: -5%
}

a.hover-line-through,
a.hover-line-through:hover {
  position: relative;
  color: $color-1;
}

.hover-line-through:before,
.hover-line-through:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 90%;
  background: $color-1;
}

.hover-line-through:before {
  left: -5%
}

.hover-line-through:after {
  right: -5%;
  background: $color-1;;
  -webkit-transition: width 1s cubic-bezier(.22, .61, .36, 1);
  -o-transition: width 1s cubic-bezier(.22, .61, .36, 1);
  -moz-transition: width 1s cubic-bezier(.22, .61, .36, 1);
  transition: width 1s cubic-bezier(.22, .61, .36, 1)
}

.hover-line-through:hover:before {
  background: $color-1;;
  width: 110%;
  -webkit-transition: width 1s cubic-bezier(.22, .61, .36, 1);
  -o-transition: width 1s cubic-bezier(.22, .61, .36, 1);
  -moz-transition: width 1s cubic-bezier(.22, .61, .36, 1);
  transition: width 1s cubic-bezier(.22, .61, .36, 1)
}

.hover-line-through:hover:after {
  background: transparent;
  width: 110%;
  -webkit-transition: 0s;
  -o-transition: 0s;
  -moz-transition: 0s;
  transition: 0s
}

.bordered-hover {
  position: relative;
  overflow: hidden;
    &:hover {
      .borders-hover {
        @include transition(all 0.25s);
          &.border-left, &.border-right {
            height: calc(100% + 1px);
          }
          &.border-top,&.border-bottom {
            width: calc(100% + 1px);
          }
          &.border-top {
            // @include transition-delay(0.1s);
          }
          &.border-right {
            @include transition-delay(0.3s);
          }
          &.border-bottom {
            @include transition-delay(0.5s);
          }
          &.border-left {
            @include transition-delay(0.7s);
          }
      }
    }
}
.borders-hover {
  position: absolute;
  background: #fff;
  z-index: 2;
    &.border-left, &.border-right {
      height: 0;
      width: 2px;
    }
    &.border-top,&.border-bottom {
      width: 0;
      height: 2px;
    }
    &.border-top {
      top:0;
      left: 0;
    }
    &.border-right {
      top:0;
      right: 0;
    }
    &.border-bottom {
      bottom:0;
      right: 0;
    }
    &.border-left {
      bottom:0;
      left: 0;
    }
}