.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-cardinar-1 {
  width: 49px;
  height: 48px;
  background-position: -5px -5px;
}

.sprite-cardinar-2 {
  width: 65px;
  height: 45px;
  background-position: -64px -5px;
}

.sprite-cardinar-3 {
  width: 43px;
  height: 43px;
  background-position: -64px -60px;
}

.sprite-cardinar-4 {
  width: 43px;
  height: 47px;
  background-position: -117px -60px;
}

.sprite-spritesheet {
  width: 117px;
  height: 127px;
  background-position: -170px -5px;
}
