// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$maru-primary: mat-palette($mat-indigo);
$maru-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$maru-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$maru-theme: mat-light-theme($maru-primary, $maru-accent, $maru-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($maru-theme);

@import './png-sprite';

/* You can add global styles to this file, and also import other style files */

@import '~compass-mixins/lib/compass/css3';
@import './variables';
@import './functions';
@import './hover-effects';
@import './animations';
@import './jquery.fancybox.css';
@import './gridsEffects';

// fonts
@import '../fonts/opensans/stylesheet.css';
@import '../fonts/others/stylesheet.css';
@import '../fonts/ptsans/stylesheet.css';
@import '../fonts/ubuntu/stylesheet.css';
// OpenSans-Regular
// OpenSans-Bold
// OpenSans-Light
// Futuris
// Antonio
// BravoSC
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// PTSans-NarrowBold
// PTSans-Narrow
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Medium
// Ubuntu-Condensed
// Gill-Sans
// ***

// normilize css
@import 'normalize.css/normalize.css';

* {
  @include box-sizing(border-box);
  outline: none;

  &::before,
  &::after {
    @include box-sizing(border-box);
  }
}

html,
body {
  height: 100%;
  // overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu-Light', sans-serif;
  font-size: 14px;
  color: $fontColor;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  @include dec-y;
  color: $linkColor;

  &:hover {
    color: $color-1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: 'Ubuntu-Bold', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
  line-height: 1;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0 0 20px;
}

.title-1 {
  font-size: 39px;
  font-family: 'Futuris', sans-serif;
  margin-bottom: 30px;
}

.title-2 {
  font-size: 24px;
  font-family: 'Ubuntu-Medium', sans-serif;
  margin-bottom: 28px;
  text-transform: uppercase;
  color: #111;
}

.check-visibility {

  .title-1,
  .title-2 {
    @include opacity(0);
    @include transform(translate(0, -40%));
    @include transition(opacity 0.3s, transform 0.5s);
  }
}

.visible {

  .title-1,
  .title-2 {
    @include opacity(1);
    @include transform(translate(0));
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

img {
  max-width: 100%;
}

.main-container {
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1600px;
  margin: 0 auto;
  padding: 0 100px;
}

@media (max-width: 1599px) {
  .container {
    width: 1280px;
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
}

.title-1 {
  font-size: 36px;
  font-family: 'Ubuntu-Condensed', sans-serif;
}

.content {
  position: relative;
  @include clearfix;

  &.container {
    padding: {
      top: 100px;
      bottom: 60px;
    }
  }
}

.btn {
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  @include inline-block;
  padding: 0 40px;
  font-size: 18px;
  border: none;
  transition: all 0.3s;
  @include border-radius(34px !important);
  font-family: 'PTSans-Regular', sans-serif;

  &.full-btn {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .mat-button-wrapper {
    line-height: 50px;
  }
}

a.btn {
  @include dec-res;
}

.btn-transparent {
  background: none !important;
  border: 1px dashed #fff !important;
}

.btn-default {
  background: -moz-linear-gradient(top,
      rgba(252, 138, 0, 1) 0%,
      rgba(253, 215, 143, 1) 0%,
      rgba(252, 138, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      rgba(252, 138, 0, 1) 0%,
      rgba(253, 215, 143, 1) 0%,
      rgba(252, 138, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      rgba(252, 138, 0, 1) 0%,
      rgba(253, 215, 143, 1) 0%,
      rgba(252, 138, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8a00', endColorstr='#fc8a00', GradientType=0);
  /* IE6-9 */
  color: #fff;

  &:hover {
    background: rgb(252, 138, 0);
    /* Old browsers */
    background: -moz-linear-gradient(top,
        rgba(252, 138, 0, 1) 0%,
        rgba(253, 215, 143, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
        rgba(252, 138, 0, 1) 0%,
        rgba(253, 215, 143, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,
        rgba(252, 138, 0, 1) 0%,
        rgba(253, 215, 143, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8a00', endColorstr='#fdd78f', GradientType=0);
    /* IE6-9 */
    /* IE6-9 */
    color: #fff;
  }
}

.btn-primary {
  color: $fontColor;
  background: $color-3;
}

.btn-success {
  font-size: 16px;
  color: #fff;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#afe6aa+0,17a200+100 */
  background: rgb(175, 230, 170);
  /* Old browsers */
  background: -moz-linear-gradient(top,
      rgba(175, 230, 170, 1) 0%,
      rgba(23, 162, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      rgba(175, 230, 170, 1) 0%,
      rgba(23, 162, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      rgba(175, 230, 170, 1) 0%,
      rgba(23, 162, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afe6aa', endColorstr='#17a200', GradientType=0);

  /* IE6-9 */
  &:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#17a200+0,afe6aa+100 */
    background: rgb(23, 162, 0);
    /* Old browsers */
    background: -moz-linear-gradient(top,
        rgba(23, 162, 0, 1) 0%,
        rgba(175, 230, 170, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
        rgba(23, 162, 0, 1) 0%,
        rgba(175, 230, 170, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,
        rgba(23, 162, 0, 1) 0%,
        rgba(175, 230, 170, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a200', endColorstr='#afe6aa', GradientType=0);
    /* IE6-9 */
    color: #fff;
  }
}

.btn-danger {
  color: #fff;
  font-size: 16px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7f7f+0,d40000+100 */
  background: rgb(255, 127, 127);
  /* Old browsers */
  background: -moz-linear-gradient(top,
      rgba(255, 127, 127, 1) 0%,
      rgba(212, 0, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      rgba(255, 127, 127, 1) 0%,
      rgba(212, 0, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      rgba(255, 127, 127, 1) 0%,
      rgba(212, 0, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7f7f', endColorstr='#d40000', GradientType=0);

  /* IE6-9 */
  &:hover {
    color: #fff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d40000+0,ff7f7f+100 */
    background: rgb(212, 0, 0);
    /* Old browsers */
    background: -moz-linear-gradient(top,
        rgba(212, 0, 0, 1) 0%,
        rgba(255, 127, 127, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
        rgba(212, 0, 0, 1) 0%,
        rgba(255, 127, 127, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,
        rgba(212, 0, 0, 1) 0%,
        rgba(255, 127, 127, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d40000', endColorstr='#ff7f7f', GradientType=0);
    /* IE6-9 */
  }
}

.header {
  background: rgb(0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 9, 59, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 9, 59, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 9, 59, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00093b', GradientType=0);
  /* IE6-9 */
  padding-top: 32px;
  position: relative;
  z-index: 9;
  border-bottom: 1px solid #868687;
  color: #fff;
  padding-bottom: 17px;
}

.main-page {
  .header {
    background: rgba(0, 0, 0, 0.85);
    /* Old browsers */
    background: -moz-linear-gradient(top,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 9, 59, 0.85) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 9, 59, 0.85) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 9, 59, 0.85) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba($color: #000000, $alpha: .85), endColorstr=rgba($color: #00093b, $alpha: .85), GradientType=0);
    /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.header-left {
  position: relative;
  float: left;
  padding-left: 162px;
}

.logo {
  position: absolute;
  bottom: -57px;
  left: 0;
}

.graphs {
  opacity: 0.4;
  margin: 0 -15px;
  line-height: 1;
  margin-bottom: 28px;

  span {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;

    &:not(:first-child) {
      border-left: 1px solid #fff;
    }
  }
}

.main-nav {
  ul {
    @include reset-list;

    li {
      float: left;

      &:not(:first-child) {
        margin-left: 44px;
      }

      &:hover,
      &.active {
        >a {
          color: $color-1;
        }
      }

      a {
        color: #fff;
        font-family: 'PTSans-Narrow', sans-serif;
        @include dec-res;
        text-transform: uppercase;
        @include transition(color 0.4s);
      }
    }
  }
}

.header-right {
  float: right;
  position: relative;
}

.search-block {
  float: left;
  margin-right: 65px;
  position: relative;

  a {
    font-size: 12px;
    color: $color-1;
    @include dec-y;
    cursor: pointer;

    &.active {
      z-index: 2;
      font-size: 0;
      position: relative;
    }

    i {
      margin-right: 5px;
      vertical-align: top;
      font-size: 20px;
      margin-top: 2px;
    }
  }
}

.main-slider {
  .owl-carousel {
    height: 100%;

    .owl-stage-outer {
      height: 100%;

      .owl-stage {
        height: 100%;

        .owl-item {
          height: 100%;
        }
      }
    }
  }
}

.search-field {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  margin-top: -10px;
  @include transform(translate(0, 25%));
  @include transition(opacity 0.4s, transform 0.4s);

  &.active {
    @include transform(translate(0));
    @include opacity(1);
    visibility: visible;
  }

  input {
    background: none;
    width: 300px;
    border: none;
    box-shadow: none;
    @include border-radius(0);
    height: 40px;
    padding: 0 15px;
    @include transition(all 0.4s);
    border-bottom: 1px solid $color-1;
    color: #fff;

    &:focus {
      @include border-radius(7px);
      box-shadow: 0 0 7px 0 $color-1;
    }
  }
}

.lang-nav {
  float: left;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  margin-left: 65px;
  margin-top: -5px;

  &.active {
    overflow: visible;

    .active-lang {
      @include border-radius(50% 50% 0 0);
      border-color: $color-3;
      border-bottom-color: transparent;
    }

    ul {
      @include opacity(1);
      @include transform(translate(0));
      visibility: visible;

      li {
        @include opacity(1);
        @include transform(translate(0));
      }
    }
  }

  ul {
    @include reset-list;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    @include transition(all 0.3s);
    background: rgba($color: #1c1c1c, $alpha: 0.6);

    border: {
      left: 1px solid $color-3;
      right: 1px solid $color-3;
      bottom: 1px solid $color-3;
    }

    @include opacity(0);
    @include transform(translate(0, 100%));
    visibility: hidden;
    overflow: hidden;
    @include border-radius(0 0 7px 7px);

    li {
      padding: 7px 0;
      text-align: center;
      @include transition(transform 0.3s);
      @include transition-delay(0.2s);
      @include opacity(0);
      @include transform(translate(100%));
      cursor: pointer;
      color: #fff;

      &:hover {
        background: $color-3;
        color: #fff;
      }
    }
  }
}

.active-lang {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
  line-height: 40px;
  text-align: center;
  border: 1px solid $border-color;
  @include border-radius(50%);
  @include transition(all 0.3s);

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  span {
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
}

.feedback {
  // margin-right: 65px;
  float: left;

  >a {
    color: #fff;
    @include dec-y;
    font-size: 12px;
    cursor: pointer;
  }
}

.clearfix {
  @include clearfix;
}

.user-btns {
  float: left;
  margin-top: 2px;

  .btn {
    line-height: 20px;
    height: 22px;
    font-size: 12px;
    width: 150px;
    padding: 0;
    text-align: center;
    margin-bottom: 15px;
    display: block;

    .mat-button-wrapper,
    span {
      line-height: 1;
    }
  }
}

.section {
  padding: 80px 0;
}

.catalog-cats {
  @include display-flex;
  @include align-items(center);
  margin-bottom: 60px;

  .title-2 {
    padding-right: 65px;
    white-space: nowrap;
    margin: 0;
  }
}

.fixed-title {
  color: $fontColor;
  display: block;
  text-align: center;
  // padding-top: 5px;
}

.catalog-cats-slider {
  @include flex(1);

  .item {
    position: relative;
    height: 122px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 15px;
    min-width: 122px;

    a {
      display: block;
      @include dec-res;
    }

    img {
      position: relative;
      z-index: 1;
      width: auto;
      max-height: 78px;
    }

    p {
      @include transition(opacity 0.4s, border-radius 0.4s);
      display: block;
      width: 122px;
      height: 100%;
      left: calc(50% - 58px);
      top: 0;
      background: $color-1;
      color: #fff;
      position: absolute;
      margin: 0;
      text-align: center;
      padding-top: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
      text-transform: uppercase;
      @include opacity(0);
      padding-right: 10px;
      padding-left: 10px;

      >span {
        @include inline-block;

        span {
          @include transition(transform 0.4s, opacity 0.3s);
          @include inline-block;
          // @include transform(translate(0, -100px));
          @include opacity(0);
          line-height: 1;

          &.space {
            display: block;
            clear: both;
            height: 0;
          }
        }
      }
    }

    &:hover,
    &.active {
      p {
        @include opacity(1);
        @include border-radius(50%);

        >span span {
          @include opacity(1);
        }
      }
    }
  }

  .owl-nav {
    // display: none;
    position: absolute;
    top: 50%;
    margin-top: -22px !important;
    left: -50px;

    button {
      font-size: 40px !important;
      margin: 0 5px !important;
      line-height: 1 !important;
      background: none !important;

      &:hover {
        color: $color-1 !important;
      }
    }
  }
}

.overflowed {
  overflow: hidden;
}

@for $i from 1 through 30 {
  .catalog-cats-slider .item p>span span:nth-of-type(#{$i}) {
    $i: $i / 9;
    -webkit-transition-delay: #{$i}s;
    transition-delay: #{$i}s;
  }
}

.products-slider {
  margin-right: -100px;
  padding-left: 160px;

  .owl-nav {
    position: absolute;
    left: -160px;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;

    button {
      height: 34px;
      width: 34px;
      border: 1px solid #a5c4dc !important;
      @include border-radius(50% !important);
      position: absolute;
      left: 0;

      &:hover {
        background: none !important;
        border-color: $color-1;

        span {
          &::after {
            height: 100%;
          }

          &::before {
            height: 0;
          }
        }
      }

      span {
        width: 11px;
        height: 43px;
        position: absolute;
        left: calc(50% - 5.5px);

        &::before,
        &::after {
          @include transition(height 0.4s);
          width: 100%;
          position: absolute;
          left: 0;
          content: '';
        }

        &::before {
          height: 100%;
        }

        &::after {
          height: 0;
        }
      }

      &.owl-prev {
        top: calc(50% - 84px);

        span {
          top: 13px;

          &::before {
            bottom: 0;

            background: {
              image: url(../img/medium-arrow-gray-top.png);
              repeat: no-repeat;
              position: left bottom;
            }
          }

          &::after {
            top: 0;

            background: {
              image: url(../img/medium-arrow-gray-top-hover.png);
              repeat: no-repeat;
              position: left top;
            }
          }
        }
      }

      &.owl-next {
        bottom: calc(50% - 84px);

        span {
          bottom: 13px;

          &::before {
            top: 0;

            background: {
              image: url(../img/medium-arrow-gray-bottom.png);
              repeat: no-repeat;
              position: left top;
            }
          }

          &::after {
            bottom: 0;

            background: {
              image: url(../img/medium-arrow-gray-bottom-hover.png);
              repeat: no-repeat;
              position: left bottom;
            }
          }
        }
      }
    }
  }

  .owl-stage-outer {
    margin: -100px -60px;
    padding: 100px 60px;
  }

  .item {
    background: #fff;
    @include border-radius(12px);
    border: 1px solid #83d0f5;
    position: relative;
    padding: 350px 45px 45px;
    @include box-shadow(0 10px 15px rgba(0, 0, 0, 0.1));
    @include transition(background-color 0.4s, transform 0.4s ease-out);

    &:hover {
      background: #1f1d26;
      color: #fff;

      @include transform(translate(0, -20px));

      .ps-title a,
      .product-detail-btn {
        color: #fff;
      }

      .ps-price {
        color: $color-1;
      }

      .btn-success {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7f7f+0,d40000+100 */
        background: rgb(255, 127, 127);
        /* Old browsers */
        background: -moz-linear-gradient(top,
            rgba(255, 127, 127, 1) 0%,
            rgba(212, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top,
            rgba(255, 127, 127, 1) 0%,
            rgba(212, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,
            rgba(255, 127, 127, 1) 0%,
            rgba(212, 0, 0, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7f7f', endColorstr='#d40000', GradientType=0);

        /* IE6-9 */
        &:hover {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d40000+0,ff7f7f+100 */
          background: rgb(212, 0, 0);
          /* Old browsers */
          background: -moz-linear-gradient(top,
              rgba(212, 0, 0, 1) 0%,
              rgba(255, 127, 127, 1) 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top,
              rgba(212, 0, 0, 1) 0%,
              rgba(255, 127, 127, 1) 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,
              rgba(212, 0, 0, 1) 0%,
              rgba(255, 127, 127, 1) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d40000', endColorstr='#ff7f7f', GradientType=0);
          /* IE6-9 */
        }
      }

      .ps-main-img {
        height: 312px;
      }

      .ps-add-img {
        border-color: transparent;

        .pieces {
          overflow: visible;
        }

        &::before {
          @include opacity(0);
          height: 50px;
        }
      }
    }
  }

  .owl-item {
    @include transition(opacity 0.3s, transform 0.4s ease-out);

    &:not(.active) {
      @include opacity(0);
      @include transform(scale(1.1));
    }

    .item:hover {
      .ps-add-img {
        @include opacity(0);
      }
    }
  }
}

.ps-main-img {
  height: 144px;
  overflow: hidden;
  @include transition(height 0.4s);
  @include transition-delay(0.2s);
  border-bottom: 10px solid $color-1;
  @include border-radius(12px 12px 0 0);
  position: absolute;
  width: calc(100% + 2px);
  top: -1px;
  left: -1px;

  a {
    display: block;
    height: 312px;

    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    }

    @include dec-res;
  }
}

.ps-add-img {
  width: 285px;
  height: 285px;
  border: 1px solid #fff;
  @include border-radius(50%);
  position: absolute;
  top: 47px;
  @include transition(opacity 0.4s);
  left: calc(50% - 142.5px);

  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .pieces {
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    }

    ;
    height: 100%;
    @include border-radius(50%);
    overflow: hidden;
    width: 100%;
  }

  &::before {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    content: '';
    @include border-radius(50%);
    position: absolute;
    top: -10px;
    left: -5px;
    border: 1px solid $color-1;
  }
}

.ps-title {
  height: 49px;
  line-height: 1;
  font-size: 24px;
  color: #585858;
  overflow: hidden;
  font-family: 'Ubuntu-Condensed', sans-serif;
  margin-bottom: 15px;

  a {
    color: #585858;
    @include dec-res;
    @include transition(color 0.4s);

    &:hover {
      color: $color-1;
    }
  }
}

.ps-details {
  @include clearfix;
  margin-bottom: 15px;

  .product-detail-btn:first-child {
    float: left;
  }

  .product-detail-btn:last-child {
    float: right;
  }
}

.product-detail-btn {
  @include inline-block;
  padding: 0 16px;
  height: 30px;
  line-height: 28px;
  border: 1px dashed $border-color;
  @include border-radius(30px);
  font-family: 'Ubuntu-Regular', sans-serif;
  font-size: 14px;
  color: #000000;
  @include transition(color 0.4s);

  i {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 18px;
  }

  &.success {
    i {
      color: $color-3;
    }
  }

  &.danger {
    i {
      color: $color-2;
    }
  }
}

.ps-desc {
  height: 66px;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 1.2;
}

.ps-item-bottom {
  @include clearfix;

  .btn {
    float: right;
  }
}

.ps-price {
  float: left;
  @include transition(color 0.4s);
  color: $color-2;
  font-family: 'Antonio', sans-serif;
  font-size: 30px;
  line-height: 1;
}

.cardinar {
  background: url(../img/cardinar-bg.png) no-repeat center / cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;

  // &:hover {
  //   &::after {
  //     @extend .shine-hover;
  //   }
  // }
  &.visible {
    &::after {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  &::after {
    background: black;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 0;
    @include transition(background-color 0.4s);
    @include transition-delay(0.2s);
  }

  .container {
    z-index: 1;
    position: relative;
  }

  .title-1 {
    color: #fff;
    margin-bottom: 60px;
    text-align: center;
  }

  ul {
    @include reset-list;
    margin: 0 -45px;
    @include clearfix;

    li {
      padding: 0 45px 0 125px;
      position: relative;
      float: left;
      width: 25%;

      i {
        position: absolute;
        top: 0;
        left: -80px;
      }

      .grid__link {
        position: relative;
      }

      p {
        font-size: 36px;
        font-family: 'BravoSC', sans-serif;
        margin-bottom: 12px;
        line-height: 1;
      }
    }
  }
}

.new-products-slider {
  margin-right: -100px;
  margin-top: -45px;
}

.new-products {
  .title-2 {
    margin-bottom: 0;
  }

  .owl-carousel {
    padding-top: 68px;
  }

  .owl-nav {
    position: absolute;
    top: 0;
    right: 100px;

    button {
      height: 34px;
      width: 34px;
      border: 1px solid #a5c4dc !important;
      @include border-radius(50% !important);
      float: left;
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      font-size: 0;
      margin: 0 !important;

      &:hover {
        background: none !important;
        border-color: $color-1;

        span {
          &::after {
            width: 100%;
          }

          &::before {
            width: 0;
          }
        }
      }

      span {
        width: 43px;
        height: 11px;
        position: absolute;
        top: calc(50% - 5.5px);
        font-size: 0;

        &::before,
        &::after {
          @include transition(width 0.4s);
          position: absolute;
          top: 0;
          content: '';
          height: 100%;
        }

        &::before {
          width: 100%;
        }

        &::after {
          width: 0;
        }
      }

      &.owl-prev {
        margin-right: 75px !important;

        span {
          left: 13px;

          &::before {
            right: 0;

            background: {
              image: url(../img/medium-arrow-gray-left.png);
              repeat: no-repeat;
              position: right top;
            }
          }

          &::after {
            left: 0;

            background: {
              image: url(../img/medium-arrow-gray-left-hover.png);
              repeat: no-repeat;
              position: left top;
            }
          }
        }
      }

      &.owl-next {
        span {
          right: 13px;

          &::before {
            top: 0;
            left: 0;

            background: {
              image: url(../img/medium-arrow-gray-right.png);
              repeat: no-repeat;
              position: left top;
            }
          }

          &::after {
            top: 0;
            right: 0;

            background: {
              image: url(../img/medium-arrow-gray-right-hover.png);
              repeat: no-repeat;
              position: right bottom;
            }
          }
        }
      }
    }
  }

  .owl-item,
  .item {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background: #fff;
      z-index: 1;
      @include transition(opacity 0.4s);
    }
  }

  .owl-item {
    border: 1px solid $border-color;

    &::before {
      top: 0;
      right: 57px;
      width: calc(100% - 57px);
      height: 15px;
    }

    &::after {
      bottom: 0;
      height: 57px;
      width: calc(100% - 57px);
      left: 0;
    }

    &:hover {
      .new-product-details {
        @include transform(scale(1));
        @include opacity(1);
        @include transition(opacity 0.4s, transform 0.4s ease-out);
        @include transition-delay(0.4s);
      }

      &::before,
      &::after,
      .item::before,
      .item:after {
        @include opacity(0);
        @include transition(width 0.4s, height 0.4s, opacity 1s ease-in);
      }

      &::after {
        @include transition-delay(0.2);
      }

      &::before,
      &::after {
        width: 0;
      }

      .item {
        &::before {
          width: 0;
          @include transition-delay(0.1s);
        }

        &::after {
          width: 100%;
          background: rgba(0, 0, 0, 0.6);
          @include transition(background-color 0.4s, width 0.4s);
          @include opacity(1);
          @include transition-delay(0.4s);
        }
      }
    }
  }

  .item {
    &::before {
      left: 0;
      height: calc(100% - 72px);
      bottom: 57px;
      width: 15px;
    }

    &::after {
      height: 100%;
      width: 57px;
      bottom: 0;
      right: 0;
    }
  }

  .item {
    height: 320px;

    background: {
      repeat: no-repeat;
      position: center;
      size: cover;
    }
  }
}

.new-product-details {
  z-index: 2;
  @include transition(opacity 0.4s, transform 2s ease-out);
  position: absolute;
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 40px;
  color: #fff;
  top: 0;
  left: 0;
  @include content-align(center);
  text-align: center;
  @include transform(scale(0.3));
  @include opacity(0);

  .btn {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.npd-title {
  font-size: 18px;
  font-family: 'Ubuntu-Condensed', sans-serif;
  color: #fff;
  @include dec-res;
  display: block;
  max-height: 36px;
  overflow: hidden;
  line-height: 1;
  margin-bottom: 24px;

  &:hover {
    color: $color-1;
  }
}

.npd-price {
  font-family: 'Antonio', sans-serif;
  font-size: 30px;
  color: $color-1;
  margin-bottom: 24px;
  line-height: 1;
}

.reviews {
  padding-top: 300px;
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,03040f+35,111352+100 */
  background: rgb(0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(left,
      rgba(0, 0, 0, 1) 0%,
      rgba(3, 4, 15, 1) 35%,
      rgba(17, 19, 82, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left,
      rgba(0, 0, 0, 1) 0%,
      rgba(3, 4, 15, 1) 35%,
      rgba(17, 19, 82, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(3, 4, 15, 1) 35%,
      rgba(17, 19, 82, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#111352', GradientType=1);

  &::before {
    background: url(../img/reviews-bg.jpg) no-repeat center / cover;
    background-attachment: fixed;
  }

  &::before,
  &::after {
    height: 260px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: '';
  }

  &::after {
    background: rgba(0, 0, 0, 0.6);
  }

  &.visible {
    .title-2 {
      span {

        &::before,
        &::after {
          width: 2500px;
        }
      }
    }
  }

  .title-2 {
    overflow: hidden;
    color: #fff;
    margin-bottom: 62px;
    text-align: center;

    span {
      position: relative;
      @include inline-block;
      padding: 0 60px;

      &::before,
      &::after {
        width: 0;
        content: '';
        background: #abbbc0;
        height: 1px;
        @include opacity(0.1);
        top: calc(50% - 0.5px);
        @include transition(width 0.6s ease-in);
        @include transition-delay(0.4s);
        position: absolute;
      }

      &::before {
        right: 100%;
      }

      &::after {
        left: 100%;
      }
    }
  }

  .owl-nav {
    position: static;
    height: 0;
    margin: 0 !important;

    button {
      height: 34px;
      width: 34px;
      border: 1px solid #a5c4dc !important;
      @include border-radius(50% !important);
      position: absolute;
      top: calc(50% - 17px);
      font-size: 0;
      margin: 0 !important;

      &:hover {
        background: none !important;
        border-color: $color-1;

        span {
          &::after {
            width: 100%;
          }

          &::before {
            width: 0;
          }
        }
      }

      span {
        width: 43px;
        height: 11px;
        position: absolute;
        top: calc(50% - 5.5px);
        font-size: 0;

        &::before,
        &::after {
          @include transition(width 0.4s);
          position: absolute;
          top: 0;
          content: '';
          height: 100%;
        }

        &::before {
          width: 100%;
        }

        &::after {
          width: 0;
        }
      }

      &.owl-prev {
        left: 0;

        span {
          left: 13px;

          &::before {
            right: 0;

            background: {
              image: url(../img/medium-arrow-gray-left2.png);
              repeat: no-repeat;
              position: right top;
            }
          }

          &::after {
            left: 0;

            background: {
              image: url(../img/medium-arrow-gray-left-hover.png);
              repeat: no-repeat;
              position: left top;
            }
          }
        }
      }

      &.owl-next {
        right: 0;

        span {
          right: 13px;

          &::before {
            top: 0;
            left: 0;

            background: {
              image: url(../img/medium-arrow-gray-right2.png);
              repeat: no-repeat;
              position: left top;
            }
          }

          &::after {
            top: 0;
            right: 0;

            background: {
              image: url(../img/medium-arrow-gray-right-hover.png);
              repeat: no-repeat;
              position: right bottom;
            }
          }
        }
      }
    }
  }

  .item {
    padding: 0 150px;
    display: table;
    color: #fff;

    >* {
      display: table-cell;
      padding: 0 25px;
      vertical-align: middle;

      &:first-child {
        border-right: 1px solid #abbbc0;
        width: 45%;
        text-align: right;
      }
    }
  }
}

.rd-username {
  color: #fff600;
  font-size: 18px;
  font-family: 'Ubuntu-Medium', sans-serif;
  margin-bottom: 5px;
}

.rd-desc {
  line-height: 1.7;
}

.popular {
  .title-2 {
    margin-bottom: 60px;
    text-align: center;
  }
}

.pp-slider {
  position: relative;
  padding: 0 80px;

  .owl-carousel {
    .owl-stage-outer {
      height: 450px;
      padding-top: 82px;
    }

    .owl-dots {
      display: none;
    }

    .owl-nav {
      position: absolute;
      height: 0;
      top: 50%;
      width: 100%;
      margin: 0;
      left: 0;
    }

    .owl-nav {
      position: static;
      height: 0;
      margin: 0 !important;

      button {
        height: 34px;
        width: 34px;
        border: 1px solid #a5c4dc !important;
        @include border-radius(50% !important);
        position: absolute;
        top: calc(50% - 17px);
        font-size: 0;
        margin: 0 !important;

        &:hover {
          background: none !important;
          border-color: $color-1;

          span {
            &::after {
              width: 100%;
            }

            &::before {
              width: 0;
            }
          }
        }

        span {
          width: 43px;
          height: 11px;
          position: absolute;
          top: calc(50% - 5.5px);
          font-size: 0;

          &::before,
          &::after {
            @include transition(width 0.4s);
            position: absolute;
            top: 0;
            content: '';
            height: 100%;
          }

          &::before {
            width: 100%;
          }

          &::after {
            width: 0;
          }
        }

        &.owl-prev {
          left: -80px;

          span {
            left: 13px;

            &::before {
              right: 0;

              background: {
                image: url(../img/medium-arrow-gray-left.png);
                repeat: no-repeat;
                position: right top;
              }
            }

            &::after {
              left: 0;

              background: {
                image: url(../img/medium-arrow-gray-left-hover.png);
                repeat: no-repeat;
                position: left top;
              }
            }
          }
        }

        &.owl-next {
          right: -80px;

          span {
            right: 13px;

            &::before {
              top: 0;
              left: 0;

              background: {
                image: url(../img/medium-arrow-gray-right.png);
                repeat: no-repeat;
                position: left top;
              }
            }

            &::after {
              top: 0;
              right: 0;

              background: {
                image: url(../img/medium-arrow-gray-right-hover.png);
                repeat: no-repeat;
                position: right bottom;
              }
            }
          }
        }
      }
    }

    .owl-item {
      @include transition(transform 0.5s);
      @include transform(scale(1.5));

      &.animating {
        @extend .shine-hover;
      }

      &:not(.central) {
        // margin-top: 80px;
        @include transform(scale(1));
      }

      &.central {
        border: 1px solid #fff;
        z-index: 2;
        @include box-shadow(0 10px 15px -5px rgba(0, 0, 0, 0.2));
      }
    }

    .item {
      img {
        width: 100%;
      }
    }
  }
}

.myPanelClassProduct {
  margin-top: 45px;
  max-width: 240px;
  min-width: 100% !important;
  margin-left: 15px;
  @include border-radius(0 0 15px 15px !important);
}

.myPanelClass {
  margin-top: 30px;
}

.mat-select-panel {
  @include border-radius(15px);
}

.footer {
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,03040f+35,111352+100 */
  background: rgb(0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(left,
      rgba(0, 0, 0, 1) 0%,
      rgba(3, 4, 15, 1) 35%,
      rgba(17, 19, 82, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left,
      rgba(0, 0, 0, 1) 0%,
      rgba(3, 4, 15, 1) 35%,
      rgba(17, 19, 82, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(3, 4, 15, 1) 35%,
      rgba(17, 19, 82, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#111352', GradientType=1);
  padding: 65px 0 45px;
  color: #fff;

  .container {
    position: relative;
    z-index: 2;
  }

  &::after {
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/footer-bg.png) no-repeat right bottom / auto 100%;
  }

  .title-2,
  a {
    color: #fff;
  }
}

.footer-top {
  margin-bottom: 11px;
  min-height: 180px;
  position: relative;
  padding-right: 480px;
}

.footer-contacts {
  text-transform: uppercase;
  font-family: 'Ubuntu-Regular', sans-serif;

  >div {
    float: left;
    width: 50%;
    display: table-cell;
    padding-right: 55px;
    line-height: 1.6;

    &:last-child {
      padding-left: 55px;
      border-left: 1px solid #30343d;
    }
  }
}

.footer-map {
  overflow: hidden;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 480px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.footer-nets {
  @include clearfix;
  margin-bottom: 60px;

  p {
    font-size: 18px;
    font-family: 'Ubuntu-Medium', sans-serif;
    float: left;
    margin-right: 22px;
    line-height: 38px;
  }

  ul {
    @include reset-list;
    float: left;

    li {
      float: left;

      &:not(:first-child) {
        margin-left: 22px;
      }

      a {
        display: table-cell;
        vertical-align: middle;
        border: 1px solid #696973;
        height: 38px;
        width: 38px;
        text-align: center;
        @include dec-res;
        @include transition(border-color 0.4s);

        &:hover {
          border-color: $color-1;
        }
      }
    }
  }
}

.copyright {
  font-family: 'PTSans-Regular', sans-serif;
  color: #87878d;
  font-size: 12px;

  img {
    display: block;
    margin-bottom: 10px;
  }
}

.full-width {
  width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $border-color;
}

.catalog-filter {
  .mat-select-trigger {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: #eceef2;
    border: 1px solid $border-color;
  }
}

.mat-select-arrow {
  border-top-color: $border-color !important;
}

.cart-link {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
  line-height: 40px;
  text-align: center;
  border: 1px solid $border-color;
  @include border-radius(50%);
  background: url(../img/cart.png) no-repeat center;
  margin-left: 65px;
  float: left;
  margin-top: -6px;

  span {
    position: absolute;
    left: calc(100% + 5px);
    font-family: 'Montserrat-Bold', sans-serif;
    color: $color-3;
    font-size: 14px;
  }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $color-1;
}

.installation-checkbox {
  .mat-checkbox-label {
    color: #0067af;
  }
}

.quantity {
  margin-bottom: 25px;
  line-height: 35px;
  background: #eceef2;
  @include border-radius(10px);
  padding: 15px;
  text-align: center;

  >div {
    background: #cacaca;
    width: 130px;
    height: 35px;
    line-height: 35px;
    position: relative;
    @include border-radius(25px);
    @include inline-block;
    margin-left: 18px;

    a {
      color: #ffffff;
      position: absolute;
      height: 100%;
      width: 35px;
      top: 0;
      text-align: center;
      @include dec-res;
      cursor: pointer;
      @include transition(background-color 0.4s);

      &:hover {
        background: $color-1;
      }

      &.increase {
        @include border-radius(0 25px 25px 0);
        right: 0;
      }

      &.reduce {
        left: 0;
        @include border-radius(25px 0 0 25px);
      }
    }

    span {
      height: 100%;
      width: 60px;
      text-align: center;
      color: #000000;
      border: 1px solid #f2f2f2;
      font-size: 18px;
      position: absolute;
      left: calc(50% - 30px);
      top: 0;
      background: white;
    }
  }
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #8b99af;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #8b99af;
}

.payment-type {
  padding-left: 50px;
  padding-right: 0;

  .full-width {
    margin-bottom: 37px;
    font-family: 'Ubuntu-Medium', sans-serif;
  }

  h4 {
    margin-bottom: 40px !important;
  }

  .mat-radio-container {
    margin-right: 10px;
  }
}

.order-footer {
  .mat-radio-label {
    white-space: normal;
  }

  .mat-radio-container {
    vertical-align: top;
  }

  .mat-radio-label {
    @include align-items(normal);
  }
}

@media (max-width: 1599px) {
  .products-slider {
    margin-right: -40px;
    padding-left: 70px;

    .item {
      padding-top: 290px;
      padding-left: 25px;
      padding-right: 25px;

      &:hover {
        .ps-main-img {
          height: 270px;
        }
      }
    }

    .product-detail-btn {
      font-size: 12px;
    }

    .ps-price {
      font-size: 27px;
      line-height: 34px;
    }
  }

  .products-slider .owl-nav {
    left: -70px;
  }

  .ps-title {
    font-size: 18px;
    height: 36px;
  }

  .ps-add-img {
    width: 225px;
    height: 225px;
    left: calc(50% - 112.5px);
  }

  .new-products-slider {
    margin-right: -45px;
  }

  .pp-slider .owl-carousel .owl-nav button {
    top: calc(50% - 34px);
  }
}

.nav-header,
.mob-clear {
  display: none;
}


@media (max-width: 767px) {
  .mob-clear {
    clear: both;
    height: 0;
    display: block;
  }

  .graphs,
  .feedback {
    display: none;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    bottom: auto;
    top: 0;
  }

  .nav-header {
    display: block;
    float: right;
    margin-bottom: 20px;

    span {
      display: block;
      cursor: pointer;
      width: 35px;
      height: 24px;
      z-index: 20;
      position: relative;
      margin-bottom: 2px;

      &::before,
      &::after,
      i {
        display: block;
        height: 5px;
        width: 100%;
        @include transition(all 0.4s);
        position: absolute;
        background: $color-1;
        left: 0;
        // border: 1px solid #ecc32f;
        @include border-radius(2px);
      }

      &::before,
      &::after {
        content: '';
      }

      &::before {
        top: 0;
        @include transition-delay(0.3s);
      }

      &::after {
        bottom: 0;
        @include transition-delay(0.3s);
      }

      i {
        top: 50%;
        margin-top: -2.5px;
      }
    }

    &:not(.active) {
      // @include opacity(0.8);
    }

    &.active {
      position: fixed;
      top: 20px;
      right: 15px;
      z-index: 100;

      img {
        @include opacity(0);
      }

      span {

        &::before,
        &::after,
        i {
          // background: #ecc32f;
          // @include border-radius(0);
        }

        i {
          height: 100%;
          top: 0;
          margin-top: 0;
          @include opacity(0);
          @include box-shadow(0 0 20px 10px $color-1);
        }

        &::before {
          @include transform(rotate(45deg));
          top: 9.5px;
        }

        &::after {
          @include transform(rotate(-45deg));
          bottom: 9.5px;
        }
      }
    }
  }

  .main-nav {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    margin-right: 0;
    left: 0;
    @include display-flex;
    @include align-items(center);
    padding: 30px 15px;
    z-index: 99;
    height: 100vh;
    width: 100%;
    text-align: center;
    overflow: auto;

    &:not(.opened) {
      // display: none;
      visibility: hidden;
      @include opacity(0);
      z-index: -1;
      top: -200%;
      left: -200%;
    }

    li.logo {
      display: none;
    }

    >* {
      @include inline-block;
      width: 100%;
    }

    ul {
      margin: 0 !important;

      >li {
        display: block;
        @include transition(all 0.4s);
        @include opacity(0);
        @include transform(translate(0, 50px));
        text-transform: uppercase;
        margin: 0 !important;
        float: none;
        margin: 15px 0 !important;

        a {
          font-size: 26px;
          border-bottom: 2px solid transparent;
          display: block;
          padding: 15px;
          text-align: left;
          color: #000;
          text-align: center;
        }

        &:not(.toggled) {
          ul {
            display: none !important;
          }
        }

        &.active {
          >a {
            // border-color: $color-1;
          }

          ul {
            height: auto;
            position: relative;
            left: 0;
            top: 0;
            opacity: 1;
            @include box-shadow(none);
            width: auto;
            @include transform(translate(0));
            text-align: center;
            padding: 0;
            background: none;

            li {
              margin: 0;

              a {
                font-size: 14px;
              }
            }
          }
        }
      }

      ul {
        height: 0;
        overflow: hidden;
        position: relative;
        left: 0;
        top: 0;
      }
    }

    &.opened {
      ul {
        >li {
          @include opacity(1);
          @include transform(translate(0));
        }
      }
    }
  }

  @for $i from 1 through $navLinksLength {
    .main-nav ul>li:nth-of-type(#{$i}) {
      $i: $i / 9;
      @include transition-delay(#{$i}s);
    }
  }

  .search-block {
    margin: -10px 20px 0 0;

    a {
      font-size: 0;

      i {
        font-size: 36px;
      }
    }
  }

  .cart-link {
    clear: left;
    margin-left: 0;
  }

  .lang-nav {
    margin-left: 35px;
  }

  .main-slider {
    display: none !important;
  }

  .main-page {
    .header {
      position: relative;
    }
  }

  .section {
    padding: 40px 0;
  }

  .catalog-cats {
    display: block;
  }

  .products-slider {
    margin-right: 0;
    padding-left: 0;

    .owl-nav {
      display: none;
    }
  }

  .cardinar {
    ul {
      margin: 0;

      li {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }

  .new-products-slider {
    margin-right: 0;
  }

  .new-products .owl-nav {
    display: none;
  }

  .reviews {
    padding-top: 150px;

    &::before {
      height: 120px;
    }

    .item {
      display: block;
      padding: 0;

      >* {
        float: left;
        width: 100% !important;
        padding: 15px 0 !important;

        &:first-child {
          text-align: center;
          border-bottom: 1px solid #abbbc0;
          border-right: 0;
        }
      }
    }
  }

  .reviews .owl-nav {
    display: none;
  }

  .reviews .title-2 {
    z-index: 2;
    position: relative;
    margin-bottom: 40px;
  }

  .popular .title-2 {
    margin-bottom: 0;
  }

  .pp-slider {
    padding: 0;
  }

  .pp-slider .owl-carousel .owl-nav {
    display: none;
  }

  .footer-top {
    padding-right: 0;
    min-height: 0;
  }

  .footer .title-2 {
    text-align: center;
  }

  .footer-contacts {
    margin-bottom: 15px;

    >div {
      float: left;
      width: 100%;
      padding: 15px 0 !important;
      text-align: center;

      p {
        margin-bottom: 0;
      }

      &:last-child {
        border-top: 1px solid #30343d;
        border-left: none;
      }
    }
  }

  .footer-map {
    position: static;
    width: 100%;
  }

  .content.container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .search-field {
    background: #fff;
    top: 100%;
    z-index: 3;

    input {
      width: 200px;
      color: #000;
    }
  }

  .pp-slider .owl-carousel .owl-stage-outer {
    height: 350px;
  }
}
