<h1 class="title-1">{{'Продукция' | getMessage}}</h1>
<div class="catalog-filter">
  <div class="production-filter" *ngIf='categories'>
    <mat-select (selectionChange)='onFilterChange($event)' [value]='slug'>
      <mat-option value="all">{{'getMessage' | getMessage}}</mat-option>
      <mat-option *ngFor='let category of categories' [value]="category.slug">{{category.title}}</mat-option>
    </mat-select>
  </div>
</div>
