// OpenSans-Regular
// OpenSans-Bold
// OpenSans-Light
// Futuris
// Antonio
// BravoSC
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// PTSans-NarrowBold
// PTSans-Narrow
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Medium
// Ubuntu-Condensed
// Gill-Sans
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';

.delivery-icon {
  @include inline-block;
  width: 28px;
  height: 17px;
  margin-right: 15px;

  background: {
    repeat: no-repeat;
    position: center;
  }
}

.product-card-cont {
  // margin-bottom: 100px;
}

.catalog-filter {
  margin-bottom: 40px;
}

.product-card {
  @include clearfix;
  font-family: 'Ubuntu-Regular', sans-serif;

  &:not(.full-width) {
    float: left;
    width: calc(100% - 240px);
    padding-right: 120px;
  }
}

.product-images {
  float: left;
  width: 480px;
  margin-right: 65px;

  ul {
    @include reset-list;
    margin: 0 -20px;
    font-size: 0;

    li {
      width: 33.33%;
      padding: 20px;
      font-size: 0;
      @include inline-block;

      img {
        width: 100%;
        @include border-radius(10px);
      }
    }
  }
}

.product-main-img {
  text-align: center;

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
    @include border-radius(10px);
  }
}

.product-details {
  overflow: hidden;
}

.product-title {
  font-size: 35px;
  font-family: 'Ubuntu-Condensed', sans-serif;
  color: #000000;
  margin-bottom: 36px;
  line-height: 1;
}

.pd-table {
  width: 100%;

  .ps-price {
    float: none;
    font-size: 48px;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    color: #0067af;
  }

  .product-detail-btn {
    display: block;
    text-align: center;
  }

  td {
    padding: 10px 0;

    &:last-child {
      text-align: right;
    }
  }
}

.details-btns {
  margin-bottom: 27px;

  .btn {
    i {

      vertical-align: top;
      margin-top: 11px;

    }
  }
}

.isset {
  i {
    color: #47af4d;
  }
}

.clear {
  i {
    color: $color-3;
  }
}

.product-features {
  color: #9b3197;
  margin-bottom: 25px;
  padding-left: 15px;

  li {
    padding-left: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  span {
    color: #000;
    font-family: 'Ubuntu-Light', sans-serif;
  }
}

.product-description {
  padding-top: 35px;
  clear: both;
  font-family: 'Ubuntu-Light', sans-serif;
  margin-bottom: 30px;

  p:last-child {
    margin-bottom: 0;
  }
}

.product-colors-texture {
  @include clearfix;
  margin-bottom: 35px;

  >div {
    float: left;
    width: 45%;
    padding-right: 15px;
    font-family: 'Futuris', sans-serif;
    font-size: 18px;

    p {
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    div {
      margin-bottom: 10px;

      i {
        @include inline-block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
    }
  }
}

.product-order-btn-cont {
  position: relative;

  .btn-primary {
    margin-right: 54px;

    >span {
      padding: 0 55px;
    }
  }

  .btn-default {
    width: 290px;
    text-align: center;
    cursor: pointer;
  }
}

.product-textures-cont {
  @include box-shadow(0 12px 24px 0 rgba(0, 0, 0, .15));
  position: relative;
  @include border-radius(20px);
  background: #ffffff;
  width: 312px;
}

.exposed {
  .product-card {
    display: none;
  }

  .product-textures-cont {
    width: auto;

    .product-textures {
      ul {
        margin: 0 -44px;

        li {
          width: calc(20% - 88px);
          margin: 0 44px 55px 44px;
          float: left;
        }
      }
    }

    .expose-list {
      i {
        @include transform(rotate(180deg));
      }
    }
  }
}

.product-textures {
  background: white;
  position: relative;
  z-index: 2;
  padding: 55px 55px 0 55px;
  @include border-radius(20px);
  overflow: hidden;

  ul {
    @include reset-list;

    li {
      margin-bottom: 55px;
      border: 2px solid transparent;
      overflow: hidden;
      @include transition(all 0.4s);
      cursor: pointer;

      &:not(.show-more):hover,
      &.active {
        border-color: #fff400;
        @include border-radius(10px);
        @include box-shadow(0 7px 12px rgba(0, 0, 0, 0.15));
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      &.show-more {
        border: 1px solid #c4c4c4;
        height: 183px;
        @include content-align(center);
        text-align: center;
        font-size: 16px;
        font-family: 'CenturyGothic', sans-serif;
        cursor: pointer;

        i {
          font-family: 'Montserrat-ExtraLight', sans-serif;
          font-size: 90px;
          font-style: normal;
          line-height: 1;
        }

        div {
          clear: both;
        }

        &:hover {
          border-color: $color-1;
          color: $color-1;
        }
      }
    }

  }
}

.product-similar-products {
  float: left;
  width: 240px;
}

.delivery-note {
  padding: 16px;
  border: 1px dashed $border-color;
  @include border-radius(50px);

  margin-bottom: 40px;

  >div {
    display: table-cell;
    padding-right: 10px;

    &:last-child {
      padding-left: 20px;
    }

    img {
      margin-right: 10px;
      float: left;
    }

    a {
      display: inline-block;
      margin-bottom: 3px;
      color: $linkColor;
      @include dec-y;
    }

    strong {
      display: block;
    }
  }
}

.product-order-btn-cont {
  .btn {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    width: 300px;
    text-align: center;
  }
}

.similar-products {
  @include clearfix;
  @include reset-list;

  li {


    &:not(:last-child) {
      margin-bottom: 40px;
    }

    img {
      display: block;
      width: 100%;
      @include border-radius(15px);
      @include transition(all 0.4s);
      // @include transform(scale(0.9));
    }

    &:hover {
      img {
        @include transform(scale(1.1));
        @include border-radius(0);
        @include box-shadow(0 14px 14px -10px rgba(0, 0, 0, 0.1));
      }
    }

    a {
      color: #000000;
      font-size: 16px;
      font-family: 'CenturyGothic', sans-serif;
    }
  }
}

.s-img {
  height: 150px;
  @include content-align(center);
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 1599px) {
  .product-card {
    padding-right: 60px;
  }

  .product-images {
    width: 350px;
    margin-right: 45px;
  }
}

@media (max-width: 767.95px) {
  .product-card-cont {
    padding-top: 0;
    // margin-bottom: 50px;
  }

  .product-images {
    width: auto;
    float: none;
    margin: 0 0 30px;
  }

  .product-card {
    padding-top: 10px;
  }

  .product-details {
    clear: both;
    padding-top: 30px;
  }

  .product-order-btn-cont {
    .btn {
      margin: 0 auto 20px !important;
      width: 100%;
      max-width: 300px;
      display: block;
    }
  }

  .similar-products {
    margin: 0;

    li {
      width: auto;
      float: none;
      margin: 0 30px;
    }
  }

  .product-main-img {
    margin: 0 auto 30px;
    max-width: 300px;
  }
}


@media (max-width: 767px) {

  .product-card,
  .product-card:not(.full-width) {
    float: none;
    width: auto;
    padding: 0;
  }

  .product-main-img {
    margin-bottom: 15px;
  }

  .product-images {
    margin: 0;

    li {
      padding: 10px;
    }
  }

  .product-details {
    padding-top: 0;
  }

  .pd-table {
    td {
      float: left;
      width: 100%;
      text-align: left !important;
    }
  }

  .product-similar-products {
    display: none !important;
  }
}
