<h2 class="title-2">{{ 'КАТАЛОГ ЧЕХЛОВ' | getMessage }}</h2>
<div class="product-card-cont clearfix" *ngIf="product" [ngClass]="{ exposed: listExposed }">
  <div class="product-card">
    <div class="product-images">
      <div class="product-main-img">
        <a [href]="product.images[0]" [attr.data-fancybox]="product.slug"><img [src]="product.main_img" alt="" />
        </a>
      </div>
      <ul>
        <li *ngFor="let image of product.thumbs; let i = index;">
          <a [href]="product.images[i]" [attr.data-fancybox]="product.slug">
            <img [src]="image" alt="" />
          </a>
        </li>
      </ul>
    </div>
    <div class="product-details">
      <h2 class="product-title">{{ product.title }}</h2>
      <table class="pd-table">
        <tr>
          <td>
            <div class="product-detail-btn">
              {{ 'Артикул:' | getMessage }} {{ product.vendor_code }}
            </div>
          </td>
          <td>
            <div class="ps-price">{{ product.price | number }} UZS</div>
          </td>
        </tr>
        <tr>
          <td>
            <ng-container *ngIf="product.isset">
              <div class="product-detail-btn success">
                <i class="material-icons">done</i>
                {{ 'В наличии' | getMessage }}
              </div>
            </ng-container>
            <ng-container *ngIf="!product.isset">
              <div class="product-detail-btn danger">
                <i class="material-icons">close</i>
                {{ 'Нет в наличии' | getMessage }}
              </div>
            </ng-container>
          </td>
          <td>
            <div class="installation-checkbox">
              <mat-checkbox class="example-margin" [checked]="installation" (change)='initChange($event)'>
                {{ 'Установка чехлов +50 000 UZS' | getMessage }}
              </mat-checkbox>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="quantoty-cont">
            <div class="quantity">
              {{ 'Кол-во:' | getMessage }}
              <div>
                <a (click)="setQuantity(false)" class="reduce">-</a>
                <a (click)="setQuantity(true)" class="increase">+</a>
                <span>{{ quantity }}</span>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <div class="product-description" [innerHtml]="product.description | safeHtml"></div>
      <div class="product-colors-texture">
        <div class="product-colors" *ngIf="product.colors?.length">
          <p>{{ 'Цвет:' | getMessage }}</p>
          <div *ngFor="let color of product.colors">
            <i [style.backgroundColor]="color.color"></i>
            {{ color.title }}
          </div>
        </div>
        <div class="product-colors" *ngIf="product.colors?.length">
          <p>{{ 'Материал:' | getMessage }}</p>
          <div *ngFor="let texture of product.textures">
            <i [style.backgroundImage]="'url(' + texture.filename + ')'"></i>
            {{ texture.title }}
          </div>
        </div>
      </div>
      <div class="delivery-note">
        <div>
          <img src="/assets/img/p1.png" />
          <div class="overflowed">
            <a href='#'>{{ 'Самовывоз из магазина' | getMessage }}</a>
            <strong>{{ 'бесплатно' | getMessage }}</strong>
          </div>
        </div>
        <div>
          <img class="delivery-icon" src="/assets/img/p2.png" />
          <div class="overflowed">
            <a href="#">{{'Доставка домой' | getMessage }}</a>
            <strong>{{ 'от 5000 UZS' | getMessage }}</strong>
          </div>
        </div>
      </div>
      <div class="product-order-btn-cont">
        <a (click)="order(product.id)" *ngIf="!addedToCart"
          class="btn btn-success"><span>{{ 'Заказать' | getMessage }}</span></a>
        <a (click)="cancelOrder(product.id)" *ngIf="addedToCart"
          class="btn btn-danger"><span>{{ 'Отменить заказ' | getMessage }}</span></a>
      </div>
    </div>
  </div>
  <div class="product-similar-products">
    <div class="catalog-filter">
      <div class="production-filter" *ngIf='categories'>
        <mat-select disableOptionCentering panelClass="myPanelClassProduct" (selectionChange)='onFilterChange($event)'
          [value]='categorySlug'>
          <mat-option value="all">{{'getMessage' | getMessage}}</mat-option>
          <mat-option *ngFor='let category of categories' [value]="category.slug">{{category.title}}</mat-option>
        </mat-select>
      </div>
    </div>
    <ul *ngIf="similarProducts | async as sProducts" class="similar-products">
      <li *ngFor="let product of sProducts">
        <a [routerLink]="'/product/' + product.slug" [attr.title]="product.title">
          <img [src]="product.thumbnail" alt="product.title" />
        </a>
      </li>
    </ul>
  </div>
</div>
