// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';


.news-list {
  margin: 0 -30px;

  li {
    float: none;
    width: auto;
    position: relative;
    padding: 45px 30px 45px;

    &:hover {
      &::before {
        @include opacity(1);
        @include box-shadow(12px 12px 24px 0 rgba(0, 0, 0, .1));
      }
    }

    &::before {
      height: 100%;
      width: 200%;

      border: {
        top: 1px solid $color-1;
        right: 1px solid $color-1;
        bottom: 1px solid $color-1;
      }

      ;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      background: #fff;
      @include opacity(0);

      @include transition(opacity 0.4s ease-out, box-shadow 0.7s ease-out);
    }
  }

  .news-desc,
  .news-title {
    height: auto;
  }

  .img-cont {
    float: left;
    width: 200px;
    height: 200px;
    @include transform(rotate(45deg));
    overflow: hidden;
    margin: 40px 80px 40px 40px;

    i {
      display: block;
      width: 285px;
      height: 285px;
      @include transform(rotate(-45deg));
      display: block;
      top: -45px;
      left: -45px;
      position: absolute;
    }
  }
}

.post-item {
  position: relative;
  z-index: 2;
  @include clearfix;

}

.post-details {
  overflow: hidden;
}

@media (max-width: 767.95px) {
  .news-list {
    margin: 0;

    li {
      float: none;
      margin: 0 0 30px;
      padding: 15px 0;

      .img-cont {
        @include transform(rotate(0));
        margin: 0 auto 20px;
        float: none;
        display: block;

        i {
          @include transform(rotate(0))
        }
      }
    }
  }
}
