<ln-preloader *ngIf='!isLoaded'></ln-preloader>
<ng-container *ngIf='isLoaded && posts.length'>
  <ng-container *ngIf='posts.length === 1'>
    <h1 class="title-1">{{posts[0].title}}</h1>
    <div class="post-content" [innerHtml]='posts[0].content | safeHtml'></div>
  </ng-container>
  <ng-container *ngIf='posts.length > 1'>
    <h1 class="title-1">{{posts[0].category_title}}</h1>
    <ul class="news-list">
      <li *ngFor="let item of posts">
        <div class="post-item">
          <a *ngIf='item.thumbnail' [routerLink]="'/article/' + item.slug" class="img-cont">
            <i [style.backgroundImage]="'url('+ item.thumbnail +')'"></i>
          </a>
          <div class="post-details">
            <div class="news-date">
              {{ item.published_at | date: 'dd.MM.yyyy' }}
            </div>
            <div class="news-title">
              <a [routerLink]="'/article/' + item.slug">{{ item.title }}</a>
            </div>
            <div class="news-desc">{{ item.description }}</div>
            <div class="news-learn-more">
              <a [routerLink]="'/article/' + item.slug"><span>{{'Узнать больше' | getMessage}}</span></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>

</ng-container>
