@font-face {
    font-family: 'PTSans-Regular';
    src: url('PTSans-Regular.woff2') format('woff2'),
        url('PTSans-Regular.woff') format('woff'),
        url('PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-BoldItalic';
    src: url('PTSans-BoldItalic.woff2') format('woff2'),
        url('PTSans-BoldItalic.woff') format('woff'),
        url('PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PTSans-Bold';
    src: url('PTSans-Bold.woff2') format('woff2'),
        url('PTSans-Bold.woff') format('woff'),
        url('PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Italic';
    src: url('PTSans-Italic.woff2') format('woff2'),
        url('PTSans-Italic.woff') format('woff'),
        url('PTSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PTSans-NarrowBold';
    src: url('PTSans-NarrowBold.eot');
    src: url('PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
        url('PTSans-NarrowBold.woff2') format('woff2'),
        url('PTSans-NarrowBold.woff') format('woff'),
        url('PTSans-NarrowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Narrow';
    src: url('PTSans-Narrow.eot');
    src: url('PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Narrow.woff2') format('woff2'),
        url('PTSans-Narrow.woff') format('woff'),
        url('PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

