<ng-container *ngIf='isLoaded'>
  <ln-main-slider [slides]='slides'></ln-main-slider>
  <section class="section home-catalog">
    <div class="container clearfix">
      <div class="catalog-cats clearfix">
        <h3 class="title-2">{{ 'КАТАЛОГ ЧЕХЛОВ' | getMessage }}</h3>
        <div class="catalog-cats-slider">
          <owl-carousel [options]="catalogCatsOption" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor='let category of categories'>
              <a [routerLink]='["catalog", category.slug]'>
                <img [src]="category.image" />
                <p>
                  <span [innerHtml]="category.title | splitString"></span>
                </p>
                <span class="fixed-title">{{category.title}}</span>
              </a>
            </div>
          </owl-carousel>
        </div>
      </div>
      <div class="products-slider">
        <owl-carousel [options]="catalogOption" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item" *ngFor='let product of products'>
            <div class="ps-main-img">
              <a [routerLink]='["product", product.slug]' [style.backgroundImage]="'url(' + product.main_img + ')'"></a>
            </div>
            <div class="ps-add-img">
              <a [routerLink]='["product", product.slug]'></a>
              <div class="pieces" [style.backgroundImage]="'url(' + product.thumbnail + ')'"></div>
            </div>
            <div class="ps-title">
              <a [routerLink]='["product", product.slug]'>{{product.title}}</a>
            </div>
            <div class="ps-details">
              <ng-container *ngIf='product.isset'>
                <div class="product-detail-btn success">
                  <i class="material-icons">done</i>
                  {{ 'В наличии' | getMessage }}
                </div>
              </ng-container>
              <ng-container *ngIf='!product.isset'>
                <div class="product-detail-btn danger">
                  <i class="material-icons">close</i>
                  {{ 'Нет в наличии' | getMessage }}
                </div>
              </ng-container>

              <div class="product-detail-btn">
                {{ 'Артикул:' | getMessage }} {{product.vendor_code}}
              </div>
            </div>
            <div class="ps-desc">
              {{product.description}}
            </div>
            <div class="ps-item-bottom">
              <div class="ps-price">{{product.price | number}} UZS</div>
              <a [routerLink]='["product", product.slug]' class="btn btn-success fractured"><span
                  [innerHtml]="'Купить' | getMessage | splitString"></span></a>
            </div>
          </div>
        </owl-carousel>
      </div>
    </div>
  </section>
  <section class="section cardinar check-visibility">
    <div class="container">
      <h2 class="title-1">
        {{ 'CARDINAR - гарантия качаства!' | getMessage }}
      </h2>
      <ul class="gridEffect" data-fx="Nut">
        <!-- Isis Montu Osiris  Atum Ra Sobek Bes-->
        <li class="grid__item">
          <div class="grid__link">
            <i class="sprite sprite-cardinar-1"></i>
            <p>{{ 'Быстро' | getMessage }}</p>
            <div>
              {{'Fast' | getMessage}}
            </div>
          </div>
        </li>
        <li class="grid__item">
          <div class="grid__link">
            <i class="sprite sprite-cardinar-2"></i>
            <p>{{ 'Удобно' | getMessage }}</p>
            <div>
              {{'Comfortably' | getMessage}}
            </div>
          </div>
        </li>
        <li class="grid__item">
          <div class="grid__link">
            <i class="sprite sprite-cardinar-3"></i>
            <p>{{ 'Качественно' | getMessage }}</p>
            <div>
              {{'Qualitatively' | getMessage}}

            </div>
          </div>
        </li>
        <li class="grid__item">
          <div class="grid__link">
            <i class="sprite sprite-cardinar-4"></i>
            <p>{{ 'С гарантией' | getMessage }}</p>
            <div>
              {{'With warranty' | getMessage}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</ng-container>
