@font-face {
  font-family: 'Futuris';
  src: url('Futuris.eot');
  src: url('Futuris.eot?#iefix') format('embedded-opentype'),
    url('Futuris.woff2') format('woff2'),
    url('Futuris.woff') format('woff'),
    url('Futuris.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antonio';
  src: url('Antonio-Regular.eot');
  src: url('Antonio-Regular.eot?#iefix') format('embedded-opentype'),
    url('Antonio-Regular.woff2') format('woff2'),
    url('Antonio-Regular.woff') format('woff'),
    url('Antonio-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BravoSC';
  src: url('BravoSC.eot');
  src: url('BravoSC.eot?#iefix') format('embedded-opentype'),
    url('BravoSC.woff2') format('woff2'),
    url('BravoSC.woff') format('woff'),
    url('BravoSC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('GillSans.eot');
  src: url('GillSans.eot?#iefix') format('embedded-opentype'),
    url('GillSans.woff2') format('woff2'),
    url('GillSans.woff') format('woff'),
    url('GillSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
