// OpenSans-Regular
// OpenSans-Bold
// OpenSans-Light
// Futuris
// Antonio
// BravoSC
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// PTSans-NarrowBold
// PTSans-Narrow
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Medium
// Ubuntu-Condensed
// Gill-Sans
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';

.cart-list {
  @include reset-list;

  li {
    position: relative;
    margin-bottom: 100px;

    &::before {
      position: absolute;
      width: calc(100% - 170px);
      content: '';
      height: 1px;
      background: $border-color;
      bottom: 0;
      right: 0;
      @include opacity(0.7);
      content: '';
    }
  }

  .quantity {
    padding: 0;
    background: none;
  }
}


.cart-item {
  position: relative;
  z-index: 1;
  @include clearfix;
  padding-bottom: 25px;
}

.item-img {
  float: left;
  margin-right: 30px;
  width: 140px;
  display: block;
  @include border-radius(12px);
}

.item-details {
  overflow: hidden;
}

.item-title {
  font-size: 24px;
  font-family: 'Ubuntu-Condensed', sans-serif;
  margin-bottom: 18px;
  color: #000;

  a {
    color: #000;
  }
}

.item-table {
  width: 100%;

  td {
    vertical-align: bottom;
    white-space: nowrap;

    &:nth-child(1) {
      width: 17%;
    }

    &:nth-child(2) {
      width: 35%;
    }

    &:nth-child(3) {
      width: 18%;
    }

    &:nth-child(4) {
      width: 22%;
    }



    &:not(:first-child) {
      padding-left: 35px;
    }

    .material-icons {
      color: #999999;
      @include transition(color 0.4s);
      vertical-align: top;
      cursor: pointer;

      &:hover {
        color: $color-3;
      }
    }
  }
}

.not-block {
  float: right;
  width: 290px;
  background: $color-1;
  color: #fff;
  padding: 40px;
  font-size: 16px;
  font-family: 'Ubuntu-Medium', sans-serif;
  line-height: 1.7;
  @include border-radius(15px);
  margin-left: 55px;
}

.item-price {
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  font-size: 18px;
  font-family: 'Antonio', sans-serif;
  color: #000000;
  border: 1px dashed $border-color;
  @include inline-block;
  @include border-radius(30px);
}

.product-price {
  font-size: 36px;
  color: #000000;
  font-family: 'Ubuntu-Medium';
  line-height: 1;
}

.product-color {
  margin-bottom: 0;
}

.quantity {
  margin-bottom: 0;
}

.vendor-code {
  margin-bottom: 20px;
}

.cart-stats {
  @include clearfix;

  .btn {
    width: 100%;
    text-align: center;
  }
}

.total-price {
  margin-bottom: 35px;
  font-size: 24px;
  font-family: 'Ubuntu-Bold', sans-serif;
  color: #8d8d8d;
  line-height: 1;

  span {
    font-family: 'Ubuntu-Regular', sans-serif;
    color: #000000;
    font-size: 36px;
  }
}

.cart-not-footer {
  float: left;
  color: #8d8d8d;
  max-width: 60%;
}

.cart-btn-cont {
  float: right;
}

@media (max-width: 1599px) {
  .not-block {
    width: 220px;
    font-size: 14px;
    padding: 30px;
    margin-left: 40px;
  }

  .item-table {
    .ps-price {
      font-size: 26px;
    }

    td:not(:first-child) {
      padding-left: 15px;
    }

  }

  .item-img {
    width: 120px;
    margin-right: 20px;
  }

  .cart-list {
    li {
      &::before {
        width: calc(100% - 140px);
      }
    }
  }
}


@media (max-width: 767px) {

  .not-block,
  .cart-not-footer {
    display: none;
  }

  .item-img {
    float: none;
    margin: 0 auto 20px;
    width: 290px;
  }

  .cart-list {
    li {
      margin-bottom: 40px;

      &::before {
        width: 100%;
      }
    }
  }

  .item-table {
    td {
      float: left;
      width: 100% !important;
      padding: 0 !important;
      text-align: center;

      &:not(:last-child) {
        padding-bottom: 20px !important;
      }

      .ps-price {
        float: none;
      }
    }
  }
}
