<h1 class="title-2">{{'Моя корзина' | getMessage}}</h1>

<div *ngIf="!items.length">
  {{'Корзина пуста. Добавьте торвары на странице' | getMessage}}
  <a [routerLink]="'/catalog'">{{'продукции' | getMessage}}</a>
</div>
<div class="clearfix">
  <div class="not-block">
    {{'Cart not text' | getMessage}}
  </div>
  <div class="overflowed">
    <ng-container *ngIf="items.length">
      <ul class="cart-list">
        <li *ngFor="let item of items">
          <div class="cart-item">
            <img class="item-img" *ngIf="item.thumbnail" [src]="item.thumbnail" alt="" />
            <div class="item-details">
              <div class="item-title">
                <a [routerLink]='"/product/"+item.slug'>{{item.title}}</a>
              </div>
              <table class="item-table">
                <tr>
                  <td>
                    <div class="vendor-code">{{'Код товара:' | getMessage}} <strong>{{item.vendor_code}}</strong></div>
                    <div class="installation-checkbox" *ngIf='installationCost'>
                      <mat-checkbox class="example-margin" [checked]="item.installation"
                        (change)='initChange($event, item.id)'>
                        {{ 'Установка чехлов +'+ (installationCost | number) +' UZS' | getMessage }}
                      </mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="item-price">
                      {{item.price | number}} UZS
                    </div>
                  </td>
                  <td>
                    <div class="quantity">
                      <div>
                        <a (click)="setQuantity(false, item.id)" class="reduce">-</a>
                        <a (click)="setQuantity(true, item.id)" class='increase'>+</a>
                        <span>{{item.quantity}}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="ps-price">
                      {{(item.installation ? (item.price * item.quantity) + installationCost : item.price * item.quantity) | number}}
                      UZS</div>
                  </td>
                  <td>
                    <i class="material-icons" (click)='removeFromCart(item.id)'>clear</i>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </li>
      </ul>
      <div class="cart-stats">
        <div class="cart-not-footer">
          {{'Cart bottom not text' | getMessage}}
        </div>
        <div class="cart-btn-cont">
          <div class="total-price">{{'Итого:' | getMessage}} <span>{{totalPrice | number}} UZS</span></div>
          <a [routerLink]='"/order"' class="btn btn-success"><span>{{'Оформить заказ' | getMessage}}</span></a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
