<footer class="footer">
  <div class="container" *ngIf='isLoaded'>
    <div class="footer-top clearfix">
      <div class="footer-contacts">
        <h3 class="title-2">{{'Контакты' | getMessage}}</h3>
        <div [innerHtml]='address.content'>

        </div>
        <div [innerHtml]='contacts.content'>

        </div>
      </div>
      <div class="footer-map" [innerHtml]='map.content | safeHtml'>

      </div>
    </div>
    <div class="footer-nets">
      <p>{{'МЫ В СОЦ. сетях:' | getMessage}}</p>
      <div [innerHtml]='nets.content'></div>
      <!-- <ul>
        <li>
          <a href="#">
            <img src="/assets/img/fb.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/img/tg.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/img/int.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/img/vk.png" alt="">
          </a>
        </li>
      </ul> -->
    </div>
    <div class="copyright">
      <img src="/assets/img/footer-logo.png" alt="">
      <p>{{'Copyright text' | getMessage}}
        &copy; 2018г</p>
    </div>
  </div>
</footer>
