<header class="header" id="header">
  <div class="container clearfix">
    <div class="header-left">
      <a class="logo" [routerLink]='"/"'><img src="/assets/img/logo.png" /></a>
      <div class="graphs">
        <span>{{'пн - пт с 9:00 до 18:00' | getMessage}}</span><span>{{'сб - вс выходные дни' | getMessage}}</span>
      </div>
      <nav class="main-nav" [ngClass]='{"opened": menuOpened}'>
        <ln-menu [menu]='menu'></ln-menu>
      </nav>
    </div>
    <div class="header-right">
      <div class="search-block">
        <a (click)='toggleSearch()' [ngClass]='{"active": searchOpened}'>
          <i class="material-icons">search</i>
          {{ 'Поиск по сайту' | getMessage }}
        </a>
        <div class="search-field" [ngClass]='{"active": searchOpened}'>
          <input type="text" #searchField [value]="searchQuery" (keyup)='search($event)' />
        </div>
      </div>
      <span class="nav-header" (click)='toggleMenu()' [ngClass]='{"active": menuOpened}'>
        <span><i></i></span>
      </span>
      <div class="mob-clear"></div>
      <div class="feedback" [ngClass]="{'active': feedbackOpened}">
        <a (click)="toggleFeedback()" [ngClass]="{'active': feedbackOpened}">{{ 'Обратная связь' | getMessage }}</a>
      </div>
      <a class="cart-link" [routerLink]='"/cart"'>
        <ng-container *ngIf='cartCount'>
          <span>+{{cartCount}}</span>
        </ng-container>
      </a>
      <div class="lang-nav" [ngClass]="{'active': langNavOpened}">
        <div class="active-lang">
          <span (click)="toggleLangNav()">{{activeLocale.name}}</span>
        </div>

        <ul>
          <ng-container *ngFor='let locale of locales'>
            <li *ngIf='locale.locale !== activeLocale.locale' (click)='changeLocale(locale.locale,$event)'>
              {{locale.name}}
            </li>
          </ng-container>
        </ul>
      </div>
      <!-- <div class="user-btns">
        <a href="#" mat-button class="btn btn-default">{{
          'Регистрация' | getMessage
        }}</a>
        <a href="#" mat-button class="fractured btn btn-default btn-transparent"><span
            [innerHtml]="'Избранное' | getMessage | splitString"></span></a>
      </div> -->
    </div>
  </div>
  <ln-feedback [feedbackOpened]='feedbackOpened' (success)='toggleFeedback()' (hideFeedback)='toggleFeedback()'>
  </ln-feedback>
</header>
