// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';


.catalog {
  @include clearfix;
}

.catalog-cont {
  width: calc(100% - 358px);
  float: left;
}

.catalog-header {
  @include clearfix;
  position: relative;
  margin-bottom: 55px;
}

.view-btns {
  float: left;
}

.view-btn {
  float: left;
  margin-right: 25px;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  padding: 12px;
  background: none;
  cursor: pointer;
  @include transition(border-color 0.4s);
  position: relative;

  &::before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
  }

  &.active,
  &:hover {
    border-color: $border-color;
  }

}

.grid-view-btn {
  span {
    display: block;
    width: 7px;
    height: 7px;
    background: $border-color;
    position: relative;
    @include transition(background-color 0.4s);

    &:nth-child(1) {
      &::before {
        @include transition-delay(0.1s);
      }

      &::after {
        @include transition-delay(0.2s);
      }
    }

    &:nth-child(2) {
      @include transition-delay(0.3s);

      &::before {
        @include transition-delay(0.4s);
      }

      &::after {
        @include transition-delay(0.5s);
      }
    }

    &:nth-child(3) {
      @include transition-delay(.6s);

      &::before {
        @include transition-delay(.7s);
      }

      &::after {
        @include transition-delay(.8s);
      }
    }

    &::before,
    &::after {
      background: $border-color;
      position: absolute;
      top: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      @include transition(background-color 0.4s);
    }

    &::before {
      left: calc(100% + 1px);
    }

    &::after {
      left: calc(200% + 2px);
    }

    &:not(:last-child) {
      margin-bottom: 1px;
    }
  }

  &:hover,
  &.active {
    span {
      background-color: $color-1;

      &::before,
      &::after {
        background-color: $color-1;
      }
    }
  }
}

.list-view-btn {

  &:hover,
  &.active {
    span {
      &:not(:last-child) {
        &::before {
          width: 100%;
        }
      }

      &:last-child {

        &::before,
        &::after {
          width: 50%;
        }
      }
    }
  }

  span {
    background: $border-color;
    @include border-radius(4px);
    height: 7px;
    display: block;
    overflow: hidden;
    position: relative;

    &::before {
      background-color: $color-1;
      @include border-radius(4px);
      width: 0;
      @include transition(width 0.4s);
      height: 100%;
      content: '';
      position: absolute;
    }

    &:not(:last-child) {
      margin-bottom: 1px;
    }

    &:nth-child(1) {
      &::before {
        left: 0;
      }
    }

    &:nth-child(2) {
      &::before {
        right: 0;
        @include transition-delay(0.2s);
      }
    }

    &:nth-child(3) {

      &:after {
        @include transition(width 0.4s);

        background-color: $color-1;
        @include border-radius(4px);
        width: 0;
        height: 100%;
        content: '';
        position: absolute;
        right: 0;
        @include transition-delay(0.2s);
      }

      &::before {
        left: 0;
        @include transition-delay(0.2s);
      }
    }

  }
}

.filter-dropdowns {
  width: calc(100% - 152px);
  float: right;
}

.sort {
  float: left;
  width: 60%;
  padding-right: 40px;
}

.list-count {
  float: left;
  width: 40%;
  padding-left: 40px;
}


.catalog-cats {
  float: right;
  width: 350px;
}

.catalog-list {
  @include reset-list;
  @include clearfix;
  margin: 0 -30px;

  &.grid {
    li {
      float: left;
      width: 33.33%;
      float: left;
      margin-bottom: 60px;
      padding: 0 30px;
    }
  }
}

.clp-item {
  position: relative;
}

.clp-img {
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}

.list {
  >li {
    margin-bottom: 55px;
  }

  .clp-item {
    @include clearfix;
  }

  .clp-img {
    @include border-radius(7px);

    height: 245px;
    width: 245px;
    float: left;
    margin-right: 45px;
  }

  .clp-details {
    overflow: hidden;
  }

  .clp-d-btn {
    @include clearfix;
    margin-bottom: 20px;

    >* {
      float: left;

      &:not(:first-child) {
        margin-left: 45px;
      }
    }
  }

  .clp-footer {
    @include clearfix;

    >* {
      float: left;

      &:not(:first-child) {
        margin-left: 45px;
      }
    }
  }
}

.grid {
  .clp-d-btn {
    >*:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .clp-item {
    @include box-shadow(0 10px 12px rgba($color: #111, $alpha: .1));
    @include border-radius(10px);
    overflow: hidden;

    &:hover {
      overflow: visible;
      @include box-shadow(0 10px 20px rgba($color: #111, $alpha: .2));

      &.top {
        @include border-radius(0 0 10px 10px);

        .clp-img {
          @include border-radius(0 0 10px 10px);
        }

        .clp-details {
          @include border-radius(10px 10px 0 0);
          bottom: 100%;
        }
      }

      &.bottom {
        @include border-radius(10px 10px 0 0);

        .clp-img {
          @include border-radius(10px 10px 0 0);
        }

        .clp-details {
          @include border-radius(0 0 10px 10px);
          top: 100%;
        }
      }

      .clp-details {
        @include opacity(1);
      }
    }
  }

  .clp-price {
    margin-bottom: 20px;
  }

  .clp-img {
    height: 318px;
    @include border-radius(10px);
    border: 1px solid $border-color;
  }

  .clp-details {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #fff;
    padding: 30px;
    @include border-radius(10px);
    border: 1px solid $border-color;
    @include transition(opacity 0.4s);
    @include opacity(0);
    z-index: 19;

    >* {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    >div {
      text-align: center;
    }

    .clp-description {
      height: 65px;
      overflow: hidden;
    }

  }

  .btn {
    width: 100%;
    text-align: center;
  }


  .clp-title {
    height: 50px;
    overflow: hidden;
  }
}

.clp-price {
  font-size: 30px;
  color: $color-2;
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

.clp-title {
  line-height: 1;
  font-size: 24px;
  font-family: 'Ubuntu-Condensed', sans-serif;
  color: $fontColor;
  display: inline-block;
  margin-bottom: 20px;
}

.catalog-cats {
  overflow: hidden;
  @include flex-direction(column);
  text-align: center;

  >p {
    font-size: 16px;
    padding-top: 10px;
  }

  .catalog-cats-slider {
    width: 100%;
    position: relative;
    padding-top: 20px;
    @include flex(auto);

    .item {
      display: block;
      width: auto;
      min-width: 0;
      margin-bottom: 15px;

      .img-cont {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        left: 0;
      }
    }
  }
}

.categories-group {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  @include transition(transform 0.3s, opacity 0.3s);
  @include opacity(0);
  @include transform(rotateY(90deg));

  &.active {
    @include opacity(1);
    @include transform(rotate(0));
  }

  a {
    cursor: pointer;
  }
}

.next-cats {
  border: {
    left: 7px solid transparent;
    right: 7px solid transparent;
    top: 8px solid $color-1;
  }

  ;
  position: absolute;
  left: calc(50% - 7px);
  top: 0;
  background: none !important;
  cursor: pointer;
}

@media (max-width: 1599px) {
  .catalog-list {
    &.grid {
      margin: 0 -15px;

      >li {
        padding: 0 15px;
      }

      .clp-details {
        padding: 20px;
      }

      .clp-img {
        height: 290px;
      }
    }
  }

  .product-detail-btn {
    font-size: 13px;
  }
}



@media (max-width: 767px) {
  .catalog-cont {
    float: none;
    width: 100%;
  }

  .catalog-cats {
    display: none;
  }

  .view-btns {
    display: none;
  }

  .filter-dropdowns {
    width: auto;
    float: none;
  }

  .sort,
  .list-count {
    width: auto;
    float: none;
    padding: 0;
  }

  .sort {
    margin-bottom: 30px;
  }

  .catalog-list {
    margin: 0;
  }

  .list {
    .clp-img {
      float: none;
      margin: 0 auto 30px;
    }
  }
}
