<h1 class="title-2">{{ 'КАТАЛОГ ЧЕХЛОВ' | getMessage }}</h1>
<ln-preloader *ngIf="!isLoaded"></ln-preloader>
<p *ngIf='!products?.length'>{{'Ничего не найдено' | getMessage}}</p>
<div class="catalog">
  <div class="catalog-cont">
    <div class="catalog-header">
      <div class="view-btns">
        <button class="view-btn grid-view-btn" (click)="changeView($event)" [ngClass]="{ active: viewType === 'grid' }"
          [attr.data-view]="'grid'">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <button class="view-btn list-view-btn" (click)="changeView($event)" [ngClass]="{ active: viewType === 'list' }"
          [attr.data-view]="'list'">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="filter-dropdowns">
        <div class="sort">
          <mat-form-field class="full-width">
            <mat-label>{{ 'Сортировка' | getMessage }}</mat-label>
            <mat-select disableOptionCentering panelClass="myPanelClass" (selectionChange)="filter($event)"
              [value]="sort">
              <mat-option value="all">
                {{ 'Все' | getMessage }}
              </mat-option>
              <mat-option value="price">
                {{ 'По цене' | getMessage }}
              </mat-option>
              <mat-option value="popular">
                {{ 'По популярности' | getMessage }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="list-count">
          <mat-form-field class="full-width">
            <mat-label>{{ 'На странице' | getMessage }}</mat-label>
            <mat-select disableOptionCentering panelClass="myPanelClass" [value]="limit"
              (selectionChange)="changeLimit($event)">
              <mat-option *ngFor="let l of limits" [value]="l">
                {{ l }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <ul class="catalog-list" [ngClass]="viewType" *ngIf="isLoaded && products.length">
      <!-- Isis Montu Osiris  Atum Ra Sobek Bes-->
      <li *ngFor="let product of products">
        <div class="clp-item">
          <div class="clp-img" [style.backgroundImage]="'url(' + product.main_img + ')'"></div>
          <div class="clp-details">
            <a [routerLink]="['product', product.slug]" class="clp-title">
              {{ product.title }}
            </a>
            <div class="clp-d-btn">
              <div>
                <ng-container *ngIf="product.isset">
                  <div class="product-detail-btn success">
                    <i class="material-icons">done</i>
                    {{ 'В наличии' | getMessage }}
                  </div>
                </ng-container>
                <ng-container *ngIf="!product.isset">
                  <div class="product-detail-btn danger">
                    <i class="material-icons">close</i>
                    {{ 'Нет в наличии' | getMessage }}
                  </div>
                </ng-container>
              </div>
              <div>
                <div class="product-detail-btn">
                  {{ 'Артикул:' | getMessage }} {{ product.vendor_code }}
                </div>
              </div>
            </div>
            <p class="clp-description">{{ product.description }}</p>
            <div class="clp-footer">
              <div class="clp-price">{{ product.price | number }} UZS</div>
              <a [routerLink]="['/product', product.slug]" class="btn btn-success fractured"><span
                  [innerHtml]="'Купить' | getMessage | splitString"></span></a>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <mat-paginator *ngIf="totalCount > limit" [length]="totalCount" [pageSize]="limit" [pageIndex]="page"
      (page)="goToPage($event)"></mat-paginator>
  </div>
  <div class="catalog-cats" *ngIf='categoriesGroup?.length'>
    <p>{{'Выберите марку авто' | getMessage}}</p>
    <div class="catalog-cats-slider">
      <span class="next-cats" (click)="showCats()"></span>
      <div class="categories-group" *ngFor="let categories of categoriesGroup; let i = index"
        [ngClass]="{ active: currentGroup === i }">
        <div class="item" *ngFor="let category of categories" [ngClass]="{ active: slug === category.slug }">
          <a (click)="goToCat(category.slug)">
            <span class="img-cont">
              <img [src]="category.image" />
            </span>
            <p>
              <span [innerHtml]="category.title | splitString"></span>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
