<h1 class="title-2">{{'Оформить заказ' | getMessage}}</h1>
<ln-preloader *ngIf='submited'></ln-preloader>
<h3 *ngIf='sent'>
  {{'Заказ принят!' | getMessage}}
</h3>
<div class="clearfix">
  <div class="order-details-cont">
    <div class="order-details">
      <h4>{{'Ваш заказ' | getMessage}}</h4>
      <ul>
        <li *ngFor='let item of items'>
          <p>{{item.title}}</p>
          <div>
            <span>{{'Артикул:' | getMessage}}{{item.vendor_code}}</span>
            <strong>
              {{item.quantity}} x {{item.price | number}}
              <ng-container *ngIf='item.installation'>
                + {{item.quantity}} x {{installationCost | number}}
              </ng-container>
              =
              {{(item.installation ? item.quantity * item.price + installationCost * item.quantity : item.quantity * item.price) | number}}
            </strong>
          </div>
        </li>
      </ul>
      <div class="order-details-totalPrice">
        {{'Итого:' | getMessage}} <span>{{totalPrice | number}} UZS</span>
      </div>
    </div>
    <div class="text-right">
      <a [routerLink]="['/cart']">{{'Вернуться к заказу' | getMessage}}</a>
    </div>
  </div>
  <div class="form-cont" *ngIf='!sent'>
    <form [formGroup]='form' (ngSubmit)='onSubmit()'>
      <div class="order-delivery-btns">
        <a (click)='setDeliveryType(1)' [ngClass]='{"active" : deliveryType===1}'>
          <img *ngIf='deliveryType !== 1' src="/assets/img/p1.png" alt="">
          <img *ngIf='deliveryType === 1' src="/assets/img/p1active.png" alt="">

          {{'Самовывоз из магазина' | getMessage}}</a>
        <a (click)='setDeliveryType(2)' [ngClass]='{"active" : deliveryType===2}'>
          <img *ngIf='deliveryType !== 2' src="/assets/img/p2.png" alt="">
          <img *ngIf='deliveryType === 2' src="/assets/img/p2active.png" alt="">
          {{'Доставка до дома' | getMessage}}</a>
      </div>

      <div class="order-form-cont">
        <div class="order-header">
          <div class="delivery-1" *ngIf='deliveryType === 1'>
            <table class="shop-address">
              <tr>
                <td>
                  <img src="/assets/img/location.png" alt="">
                  <span>
                    {{'Наш магазин находится по адресу:' | getMessage}}
                  </span>
                </td>
                <td>
                  {{'Order uzb address' | getMessage}}
                  <br>
                  <a [href]="'https://google.com/maps?q=' + ('Order uzb address' | getMessage)"
                    target="_blank">{{'Посмотреть на карте' | getMessage}}</a>
                </td>
              </tr>
            </table>

          </div>
          <div class="delivery-2" *ngIf='deliveryType === 2'>
            <mat-form-field>
              <input matInput [placeholder]="'Город' | getMessage" formControlName='city'>
            </mat-form-field>
            <mat-form-field>
              <input matInput [placeholder]="'Улица' | getMessage" formControlName='street'>
            </mat-form-field>
            <div class="row">
              <div class="col-6">
                <mat-form-field>
                  <input matInput [placeholder]="'Дом' | getMessage" formControlName='house'>
                  <mat-error *ngIf='f.house.errors?.invalidNumber && f.house.touched'>
                    {{'Должно быть целое число' | getMessage}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <input matInput [placeholder]="'Квартира' | getMessage" formControlName='flat'>
                  <mat-error *ngIf='f.flat.errors?.invalidNumber && f.flat.touched'>
                    {{'Должно быть целое число' | getMessage}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <input matInput [placeholder]="'Дата доставки' | getMessage" formControlName='date'>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <input matInput [placeholder]="'Удобное время доставки' | getMessage" formControlName='time'>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field>
              <textarea matInput [placeholder]="'Дополнительная информация' | getMessage"
                formControlName='info'></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="clearfix">
          <div class="order-col">
            <h4>
              {{'Контактная информация' | getMessage}}
            </h4>
            <mat-form-field>
              <input matInput [placeholder]="'Фамилия' | getMessage" formControlName='lastname'>
            </mat-form-field>
            <mat-form-field>
              <input matInput [placeholder]="'Имя' | getMessage" formControlName='name'>
            </mat-form-field>
            <mat-form-field>
              <input matInput [placeholder]="'Контактный телефон' | getMessage" formControlName='phone'>
            </mat-form-field>
            <mat-form-field>
              <input matInput [placeholder]="'E-mail' | getMessage" formControlName='email'>
            </mat-form-field>
          </div>
          <div class="order-col payment-type">
            <h4>
              {{'Способы оплаты' | getMessage}}
            </h4>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="paymentType">
              <mat-radio-button class="full-width" checked [value]="1">
                {{'В магазине' | getMessage}}
              </mat-radio-button>
              <mat-radio-button class="full-width" [value]="2">
                {{'Онлайн - банковской картой' | getMessage}}
              </mat-radio-button>
              <mat-radio-button class="full-width" [value]="3">
                <img src="/assets/img/payme.png" alt="">
              </mat-radio-button>
              <mat-radio-button class="full-width" [value]="4">
                <img src="/assets/img/mbank.png" alt="">
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="order-footer">
        <h4>{{'Подтверждение заказа' | getMessage}}</h4>
        <div class="order-col">
          <mat-radio-button (change)='onConfirm($event)'>
            <span [innerHtml]='"Order confirm" | getMessage'></span>
          </mat-radio-button>
        </div>
        <div class="order-col">
          <button type="submit" class="btn btn-success"><span>{{'Оформить' | getMessage}}</span></button>
        </div>
      </div>
    </form>
  </div>
</div>
