// OpenSans-Regular
// OpenSans-Bold
// OpenSans-Light
// Futuris
// Antonio
// BravoSC
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// PTSans-NarrowBold
// PTSans-Narrow
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Medium
// Ubuntu-Condensed
// Gill-Sans
// ***

@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';


.row {
  margin: 0 -15px;
  @include clearfix;
}

.col-6 {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.title-1 {
  margin-bottom: 50px;
}

.will-keep-until {
  position: relative;
  font-family: 'CenturyGothic-Bold', sans-serif;
  font-style: italic;
  color: #000;
  margin-bottom: 60px;

  strong {
    color: $color-1;
  }

  span {
    color: $color-3;
  }

  &::before {
    height: 8px;
    width: 265px;
    background: $color-1;
    content: '';
    display: block;
    margin-bottom: 12px;
  }

}

.order-details-cont {
  float: right;
  width: 380px;
  margin-left: 100px;
}

.text-right {
  text-align: right;
}

.order-details {
  border-top: 2px solid #5e6d8f;
  background: #f5f5f5;
  padding: 35px;
  margin-bottom: 40px;

  h4 {
    font-size: 24px;
    color: #000;
    font-family: 'Ubuntu-Medium', sans-serif;
    margin-bottom: 14px;
    text-align: center;
  }

  ul {
    @include reset-list;
    border-bottom: 1px dashed #abbbc0;
    margin-bottom: 35px;

    li {
      margin-bottom: 35px;

      div {
        @include clearfix;
      }

      p {
        font-size: 16px;
        font-family: 'Ubuntu-Light', sans-serif;
        margin-bottom: 10px;
      }

      span {
        float: left;
      }

      strong {
        float: right;
      }
    }
  }
}

.form-cont {
  border: 1px dashed #acbcc1;
  background: #f5f5f5;
  padding: 0 70px 70px;
  @include border-radius(25px);
  overflow: hidden;
}


.order-details-totalPrice {
  @include clearfix;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Ubuntu-Condensed', sans-serif;
  color: #000;

  span {
    float: right;
  }
}

.order-delivery-btns {
  @include clearfix;
  margin: 0 -70px 70px;
  background: #ffffff;
  border-bottom: 1px dashed #acbcc1;
  @include border-radius(25px);

  a {
    float: left;
    background: none;
    color: #000000;
    font-size: 16px;
    font-family: 'CenturyGothic', sans-serif;
    line-height: 50px;
    display: block;
    cursor: pointer;
    @include dec-res;
    @include transition(all 0.4s);
    padding: 0 45px;
    text-align: center;
    @include border-radius(47px);
    width: 50%;

    img {
      @include inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    &.active {
      background: $color-1;
      color: #fff;
    }
  }
}

.shop-address {
  width: 100%;

  td {
    padding: 0 45px;
    text-transform: uppercase;

    &:first-child {
      padding-left: 0;
      border-right: 1px solid $border-color;
    }
  }

  img {
    float: left;
    margin-right: 10px;
  }

  a {
    color: $linkColor;
    @include dec-y;
  }

  span {}
}

.order-form-cont {
  margin-bottom: 40px;
  @include clearfix;
  font-family: 'CenturyGothic', sans-serif;
}

.order-header {
  margin-bottom: 50px;
  @include clearfix;
}

.order-col {
  width: 50%;
  padding-right: 30px;
  @include clearfix;
  float: left;

  h4 {
    font-size: 18px;
    font-family: 'Ubuntu-Medium', sans-serif;
    margin-bottom: 25px;
    color: #000;
  }
}

.mat-form-field {
  width: 100%;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  font-family: 'CenturyGothic', sans-serif;
}




.order-footer {
  .order-col {
    padding-right: 40px;
    font-size: 16px;
  }

  .btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-family: 'Ubuntu-Medium', sans-serif;
    @include border-radius(15px !important);
  }
}

.order-btn {
  text-align: right;
  padding-top: 20px;

  .btn {
    width: 320px;
    text-align: center;
  }
}


@media (max-width: 767px) {
  .order-details-cont {
    width: auto;
    float: none;
    margin: 0 0 30px;
    float: none;
  }

  .order-delivery-btns {
    margin-bottom: 30px;

    a {
      float: none;
      width: 100%;
    }
  }

  .form-cont {
    padding: 0 15px 20px;
    margin: 0 -15px;
  }

  .order-form-cont {
    margin-bottom: 0;
  }

  .shop-address {
    td {
      float: left;
      width: 100% !important;
      padding: 0 0 15px 0 !important;
    }
  }

  .order-header {
    margin-bottom: 30px;
  }

  .order-col {
    width: 100%;
    padding: 0 0 20px 0 !important;
  }
}
